// Use this to write your custom SCSS
.page-tools-sidebar {
	display: none;
}
.co_content_container {
	padding-top: 0;
}

.display-3 {
	font-weight: 600 !important;
	font-size: 50px;
	font-family: "Fredoka", Helvetica, Arial, "sans-serif";
}
.display-1 {
	font-weight: 600 !important;
	font-family: "Fredoka", Helvetica, Arial, "sans-serif";
}
.mb-1 {
	font-weight: 600 !important;
	font-family: "Fredoka", Helvetica, Arial, "sans-serif";
}
.mb-3 {
	font-weight: 600 !important;
	font-family: "Fredoka", Helvetica, Arial, "sans-serif";
}
.happy .card {
	color: #ffffff;
	--bs-card-border-radius: 0rem;
	--bs-card-inner-border-radius: 0rem;
	text-align: center;
}
.happy .card h4 {
	color: #ffffff;
	font-size: 30px;
	text-align: center;
}
.text-light {
	--bs-text-opacity: 1;
	color: #5674a1 !important;
}
.btn-primary {
	--bs-btn-bg: #ff4880;
	--bs-btn-border-color: #ff4880;
	--bs-btn-hover-bg: #ff4880;
	--bs-btn-hover-border-color: #ff4880;
	--bs-btn-active-bg: #ff4880;
	--bs-btn-active-border-color: #ff4880;
	font-size: 20px;
}
:root {
	--bs-border-soft-primary: #ff4880;
}
.text-inverse {
	--bs-text-opacity: 1;
	color: #fff !important;
}
.image-wrapper.bg-cover {
	background-position: top center;
	background-color: gray;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
}
.image-wrapper.bg-overlay:before {
	background: rgba(30, 34, 40, 0);
}

.btn-primaryx {
	--bs-btn-bg: #fff;
	--bs-btn-border-color: #fff;
	--bs-btn-hover-bg: #fff;
	--bs-btn-hover-border-color: #fff;
	--bs-btn-active-bg: #fff;
	--bs-btn-active-border-color: #ffff;
	font-size: 20px;

	margin-top: -35px;
	--bs-btn-padding-x: 1.4rem !important;
	--bs-btn-padding-y: 1rem !important;
}
.btn-primaryx2 {
	--bs-btn-bg: #fff;
	--bs-btn-border-color: #9a8fff;
	--bs-btn-hover-bg: #fff;
	--bs-btn-hover-border-color: #9a8fff;
	--bs-btn-active-bg: #fff;
	--bs-btn-active-border-color: #9a8fff;
	font-size: 20px;
	margin-top: -35px;

	--bs-btn-padding-x: 1.4rem !important;
	--bs-btn-padding-y: 1rem !important;
}
.swiper-slide {
	position: relative;
}

.card {
	position: relative;
}
.red-triangle2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-top: 20px solid green;
	margin: 10px;
}
.red-triangle {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-top: 20px solid red;
	margin: 10px;
}
.blockquote-details {
	margin-top: 20px;
}

.bg-soft-primary {
	background: #f3f3f3 !important;
}

.py-md-16 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}
.card-bodyf:hover {
	background: #ff4880;
	color: #fff;
	border-radius: 7px;
}
.card-bodyf:hover h4 {
	color: #fff;
	border-radius: 7px;
}

.card-body1:hover {
	background: #000;
	color: #fff;
	border-radius: 7px;
}
.card-body1:hover h4 {
	color: #fff;
	border-radius: 7px;
}

.card-bodyf {
	flex: 1 1 auto;
	padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
	color: var(--bs-card-color);
	text-align: center;
}
.card1 {
	flex: 1 1 auto;
	background: #3ab764;
	padding: 3%;
	color: #fff;
	text-align: center;
}
.card2 {
	background: #fc5172;
	flex: 1 1 auto;
	padding: 3%;
	color: #fff;
	text-align: center;
}
.card3 {
	flex: 1 1 auto;
	background: #e7b338;
	color: #fff;
	padding: 3%;
	text-align: center;
}
.card4 {
	background: #e668b3;
	color: #fff;
	flex: 1 1 auto;
	padding: 3%;
	text-align: center;
}
.card5 {
	background: #45a2bc;
	color: #fff;
	flex: 1 1 auto;
	padding: 3%;
	text-align: center;
}
.card6 {
	background: #e4613c;
	color: #fff;
	flex: 1 1 auto;
	padding: 3%;
	text-align: center;
}
.card1:hover {
	background: #1d6e39;
	color: #fff;
}
.card2:hover {
	background: #832739;
	color: #fff;
}
.card3:hover {
	background: #a0740c;
	color: #fff;
}

.card4:hover {
	background: #873164;
	color: #fff;
}
.card5:hover {
	background: #1a5b6d;
	color: #fff;
}

.card6:hover {
	background: #b13816;
	color: #fff;
}
.card1 h4 {
	font-size: 30px;
	color: #fff;
	text-align: center;
}
.card2 h4 {
	font-size: 30px;
	color: #fff;
	text-align: center;
}
.card3 h4 {
	font-size: 30px;
	color: #fff;
	text-align: center;
}
.card4 h4 {
	font-size: 30px;
	color: #fff;
	text-align: center;
}
.card5 h4 {
	font-size: 30px;
	color: #fff;
	text-align: center;
}
.card6 h4 {
	font-size: 30px;
	color: #fff;
	text-align: center;
}
.swiper .card-body:hover {
	background: #f1f1f1;
	color: #000;
}

.mb-2 {
	font-family: calibri;
}

.mb-0 {
	font-family: calibri;
}

p {
	font-family: calibri;
}

.accordion-wrapper .card-header button,
.collapse-link,
.nav-tabs .nav-link {
	font-family: calibri;
}

.h1 {
	font-weight: 600 !important;
	font-family: "Fredoka", Helvetica, Arial, "sans-serif";
}

.rolloverimage {
	background-image: url("../../img/photos/bg26.jpg");
	width: 400px;
	height: 200px;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-top: 5%;
}

.rolloverimage:hover {
	background-color: steelblue;
	background-position: center;
	background-blend-mode: multiply;
}

.title {
	font-size: 18px;
	text-align: center;
	width: 400px;
	height: 200px;
	padding-top: 5%;
	background: #5f5f5f;
	color: #fff;
}

.title:hover {
	background: green;
}
