@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap");
/* page tools seem to stay even if you choose to hide them so here they get set to stay hidden always */
.page-tools-sidebar {
  display: none;
}

.co_content_container {
  padding-top: 0;
}

.g960.footer {
  display: none;
}

#co_content_container {
  font-size: 17px;
  color: #60697b;
}

.fonts {
  line-height: 1.6;
}

#BodyContainer .no-hero-image #co_content_container .master-content-wrapper.master-content-wrapper {
  background-color: #12b0d1 !important;
}

/* only apply this style when the template 5 template is being used */
html:has(link[href*=template5]) header.article-header.cf {
  padding: 0;
  border: 0;
  margin: 0;
}
html:has(link[href*=template5]) .article_index .row {
  display: flex;
}

/* only use these styles for the index page when the template 5 and sites 6 templates aren't being used */
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index.clearfix::after {
  display: none;
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index .row {
  margin: 0;
  position: relative;
  width: 250px;
  height: 150px;
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index .item {
  background: none;
  padding: 0;
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index .title {
  padding: 0;
  text-align: center;
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index .title a {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: all 0.3s;
  font-size: 18px;
  background-color: rgba(120, 120, 120, 0.6);
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index .title a:hover {
  background: rgba(49, 124, 184, 0.6);
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#chabad_body_page .btn {
  --btn-padding-x: 24px;
  --btn-padding-y: 10px;
  --btn-bg: transparent;
  --btn-border-color: transparent;
  --btn-hover-border-color: transparent;
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;
  color: #60697b;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 2px solid var(--btn-border-color);
  border-radius: 8px;
  background-color: var(--btn-bg);
  box-shadow: unset;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  letter-spacing: -0.2px;
  position: relative;
  animation-name: zoomIn;
  animation-duration: 700ms;
  animation-timing-function: ease;
  animation-delay: 1500ms;
  animation-direction: normal;
  animation-fill-mode: both;
  border-radius: 1000px !important;
}
#chabad_body_page .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(30, 34, 40, 0.15);
}
#chabad_body_page .display-3 {
  font-family: "Fredoka", Helvetica, Arial, "sans-serif";
  font-size: 50px;
  text-align: center;
}
#chabad_body_page .btn-primaryx,
#chabad_body_page .btn-primaryx2 {
  font-size: 20px;
  margin-top: -35px;
  --btn-padding-x: 28px !important;
  --btn-padding-y: 20px !important;
  --btn-bg: #fff;
  --btn-hover-bg: #fff;
  --btn-active-bg: #fff;
}
#chabad_body_page .btn-primaryx {
  --btn-border-color: #fff;
  --btn-hover-border-color: #fff;
  --btn-active-border-color: #fff;
}
#chabad_body_page .btn-primaryx2 {
  --btn-border-color: #9a8fff;
  --btn-hover-border-color: #9a8fff;
  --btn-active-border-color: #9a8fff;
}
#chabad_body_page .swiper-slide,
#chabad_body_page .card {
  position: relative;
}
#chabad_body_page .blockquote-details {
  margin-top: 20px;
}
#chabad_body_page .card-body {
  flex: 1 1 auto;
  padding: var(--card-spacer-y) var(--card-spacer-x);
  color: var(--card-color);
}
#chabad_body_page .card-bodyf {
  flex: 1 1 auto;
  padding: var(--card-spacer-y) var(--card-spacer-x);
  color: var(--card-color);
  text-align: center;
}
#chabad_body_page .card-bodyf:hover {
  background: #ff4880;
}
#chabad_body_page .card-bodyf:hover, #chabad_body_page .card-bodyf:hover h4 {
  color: #fff;
  border-radius: 7px;
}
#chabad_body_page .iconsfoot {
  margin-right: 15px !important;
}
#chabad_body_page .iconsfoot i {
  margin-right: 5px;
  color: #32afea;
}
#chabad_body_page .form-check-input {
  flex-shrink: initial;
}
#chabad_body_page .co_photo_gallery,
#chabad_body_page .slider-wrapper {
  padding: 20px;
}
#chabad_body_page .co_photo_gallery_body,
#chabad_body_page #PreschoolSection8ContentWrapper {
  position: relative;
  width: 100%;
  padding: 0 40px !important;
}
#chabad_body_page .co_photo_gallery_body .swiper-button-prev,
#chabad_body_page #PreschoolSection8ContentWrapper .swiper-button-prev {
  left: 0;
}
#chabad_body_page .co_photo_gallery_body .swiper-button-next,
#chabad_body_page #PreschoolSection8ContentWrapper .swiper-button-next {
  right: 0;
}
#chabad_body_page .slider-wrapper .slide {
  border-radius: 5px;
}
#chabad_body_page .slider-wrapper .card {
  padding: 20px;
}
#chabad_body_page .slider-wrapper .blockquote-details img {
  border-radius: 50%;
  width: 70px;
  margin-right: 15px;
}
#chabad_body_page .co_photo_gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 5px;
}
#chabad_body_page .co_photo_gallery_head div {
  color: #393d72;
  font-size: 50px;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  padding-bottom: 20px;
}
#chabad_body_page .bh {
  position: absolute;
  top: 30px;
  right: 30px;
}
#chabad_body_page .master-content-wrapper {
  background-image: linear-gradient(0deg, rgb(117, 197, 221) 0%, rgb(18, 176, 209) 100%);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#chabad_body_page .master-content-wrapper .article-header__title {
  color: #343f52 !important;
  font-family: "Fredoka", Helvetica, Arial, "sans-serif";
  text-align: center;
  font-size: 70px;
}
@media (max-width: 700px) {
  #chabad_body_page .master-content-wrapper .article-header__title {
    font-size: 40px;
  }
}
#chabad_body_page .card-border-bottom::after {
  border-bottom-width: 6px;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom-width: 4px;
  border-top-width: 4px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-bottom-color: inherit;
  border-top-color: transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  content: "";
  position: absolute;
}
#chabad_body_page a:hover {
  text-decoration: none;
}

body:not(.mobile) #chabad_body_page {
  /* General Styling for the Navbar */
}
body:not(.mobile) #chabad_body_page #chabad_head .preschool-container {
  padding: 20px;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi {
  height: unset;
  /* Show submenus on hover */
}
body:not(.mobile) #chabad_body_page #chabad_head .navi a {
  font-family: "Open Sans", sans-serif;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi .sub_menu {
  position: absolute;
  left: -10px;
  z-index: 1000;
  display: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0px 0px 25px rgba(30, 34, 40, 0.06);
}
@media screen and (min-width: 1100px) {
  body:not(.mobile) #chabad_body_page #chabad_head .navi .sub_menu ul {
    padding-inline: 20px;
  }
}
body:not(.mobile) #chabad_body_page #chabad_head .navi .sub_menu a {
  color: #343f52;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi .parent:hover > .sub_menu {
  display: block;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi .item {
  position: relative;
  /* Needed to position submenus */
  width: max-content;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi .item .arrow::after {
  content: "▼";
  display: inline-block;
  margin-left: 10px;
  font-size: 10px;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi .item .item {
  padding-block: 10px;
}
@media screen and (max-width: 1100px) {
  body:not(.mobile) #chabad_body_page #chabad_head .navi:hover {
    border-radius: 5px;
    background: white;
    padding: 20px;
    width: max-content;
  }
  body:not(.mobile) #chabad_body_page #chabad_head .navi:hover a {
    color: #343f52;
  }
  body:not(.mobile) #chabad_body_page #chabad_head .navi .sub_menu {
    display: none;
    position: static;
    box-shadow: none;
  }
  body:not(.mobile) #chabad_body_page #chabad_head .navi .parent:hover + .sub_menu,
  body:not(.mobile) #chabad_body_page #chabad_head .navi .item:hover > .sub_menu,
  body:not(.mobile) #chabad_body_page #chabad_head .navi .item:hover .item {
    display: block;
  }
  body:not(.mobile) #chabad_body_page #chabad_head .navi:hover > .item {
    display: block;
    width: unset;
  }
  body:not(.mobile) #chabad_body_page #chabad_head .navi:hover > .item.arrow:hover {
    height: auto;
  }
}
body:not(.mobile) #chabad_body_page #navigation {
  width: initial;
}
body:not(.mobile) #chabad_body_page #navigation .navi {
  list-style-type: none;
  padding: 0;
  gap: 10px;
  display: flex;
  font-size: 17px;
}
body:not(.mobile) #chabad_body_page #navigation .navi li,
body:not(.mobile) #chabad_body_page #navigation .navi a {
  float: none;
}
body:not(.mobile) #chabad_body_page #navigation .navi a {
  font-size: 17px;
  color: white;
  padding-left: 0;
}
body:not(.mobile) #chabad_body_page #navigation .navi a.arrow {
  padding: 0;
  background: none;
}
body:not(.mobile) #chabad_body_page #navigation .navi .parent {
  font-weight: bold;
}
body:not(.mobile) #chabad_body_page .FooterContainer #menu {
  height: unset;
}
@media screen and (min-width: 1100px) {
  body:not(.mobile) #chabad_body_page .FooterContainer #menu {
    gap: 20px;
  }
}
body:not(.mobile) #chabad_body_page .FooterContainer #menu .sub_menu a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
body:not(.mobile) #chabad_body_page .FooterContainer #menu ul {
  padding: 0;
}
body:not(.mobile) #chabad_body_page .FooterContainer #menu .parent {
  font-family: "Fredoka", Helvetica, Arial, "sans-serif";
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 0.5px;
}

div#chabad_body_content,
body.mobile div#chabad_body_content,
body.mobile div#co_photo_gallery .co_photo_gallery_body {
  padding: 0 !important;
}

div#ContentArea,
div#chabad_main_content,
div#chabad_body_content,
.cco_templatelates_content {
  margin: 0;
  width: 100%;
  float: none;
}

.body_wrapper.clearfix.co_body {
  width: 100%;
  padding: 0;
}

div#co_body_container {
  width: 100% !important;
  padding: 0 !important;
  margin: 0;
}

#header.on-scroll {
  position: absolute !important;
}

div#co_photo_gallery .co_photo_gallery_footer {
  text-align: center;
}
div#co_photo_gallery .co_photo_gallery_footer a {
  float: none;
  text-align: center;
  padding-top: 30px;
  background-color: #ffae00;
  border: solid 2px #ffae00;
  display: inline-block;
  color: #fff;
  border-radius: 1000px;
  font-size: 20px;
  padding: 8px 20px;
}
div#co_photo_gallery .co_photo_gallery_footer a:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(30, 34, 40, 0.15);
}

.co_photo_gallery a img {
  overflow: revert;
}

body.mobile #chabad_body_page .display-1 {
  font-size: 40px !important;
  margin-top: 35px;
}
body.mobile #chabad_body_page h2 {
  letter-spacing: normal !important;
  line-height: normal;
  font-size: 20px;
}
body.mobile #chabad_body_page .pb-17 {
  padding-bottom: 80px !important;
}
body.mobile #chabad_body_page .py-17 {
  padding-block: 80px !important;
}
body.mobile #chabad_body_page #chabad_head {
  position: initial !important;
  background: #f9f9f9;
}
body.mobile #chabad_body_page #chabad_head .preschool-container {
  flex-wrap: wrap !important;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 0;
}
body.mobile #chabad_body_page #chabad_head .preschool-container > a {
  width: 100%;
  text-align: center;
  margin: 0 !important;
  color: black !important;
}
body.mobile.cco_templateless_page #chabad_body_page .bh {
  top: -6px;
  right: 10px;
  z-index: 999;
}
body.mobile .FooterContainer a {
  color: white;
}

.section_branch #co_body_container {
  max-width: min(1320px, 100%);
  margin-inline: auto !important;
  margin-top: 50px !important;
  padding-inline: 10px !important;
}
.section_branch #co_body_container .co_body.article-body:not(*) {
  min-height: 300px;
}

.co_body .content p,
.co_body .content li,
.co_body .content .form-all li,
html body.cco_body p,
.form-all {
  color: #343333;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.form-line {
  border: 0;
}

body,
.cco_templateless_template,
.cco_templateless_template a {
  background: #f9f9f9;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.preschool-container {
  width: 100%;
  margin-inline: auto;
  padding: 40px 15px;
}
@media (min-width: 576px) {
  .preschool-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .preschool-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .preschool-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .preschool-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .preschool-container {
    max-width: 1320px;
  }
}

.preschool-row {
  display: flex;
  flex-wrap: wrap;
  --gutter-x: 30px;
  --gutter-y: 0;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
}
.preschool-row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-top: var(--gutter-y);
}

#chabad_head {
  position: absolute;
  width: 100% !important;
  z-index: 1020;
}
#chabad_head .preschool-container {
  position: relative;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#chabad_head .preschool-container #PreschoolTitle {
  color: white;
  font-size: clamp(17px, 2vw, 37px);
  font-weight: bold;
}

#PreschoolSection1 {
  overflow: hidden;
  position: relative;
}
#PreschoolSection1 #PreschoolSection1Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#PreschoolSection1 #PreschoolSection1Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#PreschoolSection1 #PreschoolSection1Content {
  background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/illustrations/White-wavy-bottom-border.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
#PreschoolSection1 #PreschoolSection1Content .preschool-container {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 140px;
}
@media (min-width: 992px) {
  html:not(:has(link#k[href*=template5])) #PreschoolSection1 #PreschoolSection1Content .preschool-container {
    padding-top: 250px;
    padding-bottom: 180px;
  }
}
#PreschoolSection1 #PreschoolSection1Content .preschool-container .preschool-row-inner {
  margin-inline: auto;
}
@media (min-width: 768px) {
  #PreschoolSection1 #PreschoolSection1Content .preschool-container .preschool-row-inner {
    width: 75%;
    flex: 0 0 auto;
  }
}
@media (min-width: 992px) {
  #PreschoolSection1 #PreschoolSection1Content .preschool-container .preschool-row-inner {
    width: 66%;
  }
}
@media (min-width: 1200px) {
  #PreschoolSection1 #PreschoolSection1Content .preschool-container .preschool-row-inner {
    width: 58%;
  }
}
@media (min-width: 1400px) {
  #PreschoolSection1 #PreschoolSection1Content .preschool-container .preschool-row-inner {
    width: 50%;
  }
}
#PreschoolSection1 #PreschoolSection1Content #PreschoolSection1Title {
  color: white;
  font-size: 70px;
  font-weight: 600;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  letter-spacing: -0.2px;
  margin-bottom: 35px;
  animation-name: zoomIn;
  animation-duration: 700ms;
  animation-timing-function: ease;
  animation-delay: 500ms;
  animation-direction: normal;
  animation-fill-mode: both;
}
@media (max-width: 600px) {
  #PreschoolSection1 #PreschoolSection1Content #PreschoolSection1Title {
    font-size: 50px;
    letter-spacing: normal;
  }
}
#PreschoolSection1 #PreschoolSection1Content #PreschoolSection1Description {
  animation-name: zoomIn;
  animation-duration: 700ms;
  animation-timing-function: ease;
  animation-delay: 1000ms;
  animation-direction: normal;
  animation-fill-mode: both;
  letter-spacing: 1px;
  font-size: 23px;
  line-height: 1.55;
  color: white;
  text-transform: uppercase;
  margin-bottom: 25px;
}
#PreschoolSection1 #PreschoolSection1Content #PreschoolSection1Button {
  animation-name: zoomIn;
  animation-duration: 700ms;
  animation-timing-function: ease;
  animation-delay: 1500ms;
  animation-direction: normal;
  animation-fill-mode: both;
  background-color: #ff4880;
  border: 2px solid #ff4880;
  color: white;
  border-radius: 1000px;
  font-size: 20px;
  line-height: 34px;
  padding: 8px 20px;
  font-weight: 700;
  text-wrap: nowrap;
  display: inline-flex;
}

#PreschoolSection2 .preschool-container {
  text-align: center;
}
@media (min-width: 768px) {
  #PreschoolSection2 .preschool-container {
    padding-top: 70px;
  }
}
#PreschoolSection2 .preschool-container .preschool-row {
  align-items: center;
  --gutter-y: 50px;
}
@media (min-width: 992px) {
  html:not(:has(link#k[href*=template5])) #PreschoolSection2 .preschool-container .preschool-row {
    --gutter-x: 40px;
  }
}
@media (min-width: 1200px) {
  html:not(:has(link#k[href*=template5])) #PreschoolSection2 .preschool-container .preschool-row {
    --gutter-x: 70px;
  }
}
#PreschoolSection2 #PreschoolSection2ImageWrapper {
  aspect-ratio: 1;
}
@media (min-width: 992px) {
  #PreschoolSection2 #PreschoolSection2ImageWrapper {
    flex: 0 0 auto;
    width: 41%;
  }
}
#PreschoolSection2 #PreschoolSection2ImageWrapper #PreschoolSection2Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/Section2ImageMask.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
#PreschoolSection2 #PreschoolSection2ContentWrapper {
  text-align: center;
}
@media (min-width: 768px) {
  #PreschoolSection2 #PreschoolSection2ContentWrapper {
    flex: 0 0 auto;
    margin-left: 8%;
    width: 83%;
  }
}
@media (min-width: 992px) {
  #PreschoolSection2 #PreschoolSection2ContentWrapper {
    text-align: left;
    margin-left: 0;
    width: 58%;
  }
}
#PreschoolSection2 h3 {
  color: #28a73c;
  line-height: 1.25;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  #PreschoolSection2 h3 {
    text-align: left !important;
    margin-inline: 25px;
  }
}
@media (min-width: 992px) {
  #PreschoolSection2 h3 {
    margin-inline: 0;
  }
}
#PreschoolSection2 .fonts {
  margin-bottom: 10px;
}

.preschool-shape-1 {
  bottom: -10px;
  right: -44px;
  z-index: 0;
  position: absolute;
  background-color: rgb(237, 242, 252);
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.preschool-shape-2 {
  top: -10px;
  left: -50px;
  z-index: 0;
  position: absolute;
  background-image: radial-gradient(#fab758 2px, transparent 2.5px);
  background-size: 15px 15px;
  opacity: 0.5;
  height: 140px;
  width: 120px;
}

#PreschoolSection3 {
  background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/bg126.jpg);
}
#PreschoolSection3 #PreschoolSection3TitleWrapper {
  margin-inline: auto;
}
@media (min-width: 768px) {
  #PreschoolSection3 #PreschoolSection3TitleWrapper {
    width: 83%;
    flex: 0 0 auto;
  }
}
@media (min-width: 992px) {
  #PreschoolSection3 #PreschoolSection3TitleWrapper {
    width: 66%;
  }
}
#PreschoolSection3 #PreschoolSection3TitleWrapper h3 {
  line-height: 1.25;
}
#PreschoolSection3 #PreschoolSection3ContentWrapper {
  position: relative;
}
#PreschoolSection3 .preschool-row {
  text-align: center;
  --gutter-y: 25px;
}
@media (min-width: 768px) {
  #PreschoolSection3 .preschool-row {
    --gutter-x: 25px;
  }
}
@media (min-width: 768px) {
  #PreschoolSection3 .preschool-row .coitem {
    width: 50%;
    flex: 0 0 auto;
  }
}
@media (min-width: 1200px) {
  #PreschoolSection3 .preschool-row .coitem {
    width: 25%;
  }
}
#PreschoolSection3 .card {
  border: 0;
  color: inherit;
  border-color: #ff4880;
  box-shadow: 0 5px 35px rgba(30, 34, 40, 0.07);
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 8px;
  --card-spacer-y: 40px;
  --card-spacer-x: 40px;
}
#PreschoolSection3 .card::after {
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom-width: 6px;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-bottom-color: inherit;
  border-top-color: transparent;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  content: "";
  position: absolute;
}
#PreschoolSection3 .card h4 {
  font-weight: 600;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  line-height: 1.45;
  margin-top: 0;
  color: #343f52;
  letter-spacing: -0.2px;
  font-size: 19px;
}
#PreschoolSection3 .card .fonts {
  margin-bottom: 10px;
}

#PreschoolSection4 .preschool-row.coitem {
  text-align: center;
}
#PreschoolSection4 #PreschoolSection4HeaderWrapper {
  margin-inline: auto;
}
@media (min-width: 768px) {
  #PreschoolSection4 #PreschoolSection4HeaderWrapper {
    width: 83%;
    flex: 0 0 auto;
  }
}
@media (min-width: 992px) {
  #PreschoolSection4 #PreschoolSection4HeaderWrapper {
    width: 66%;
  }
}
#PreschoolSection4 #PreschoolSection4HeaderWrapper h3 {
  color: #7e0f7c;
  line-height: 1.25;
}
#PreschoolSection4 #PreschoolSection4Description {
  line-height: 1.4;
  padding-bottom: 50px;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  #PreschoolSection4 #PreschoolSection4ContentWrapper {
    --gutter-x: 40px;
  }
}
@media (min-width: 1200px) {
  #PreschoolSection4 #PreschoolSection4ContentWrapper {
    --gutter-x: 70px;
  }
}
#PreschoolSection4 .preschool-section-4-card {
  background: var(--color);
  color: #fff;
  flex: 1 1 auto;
  padding: 3%;
  text-align: center;
}
@media (min-width: 768px) {
  #PreschoolSection4 .preschool-section-4-card {
    width: 50%;
    flex: 0 0 auto;
  }
}
@media (min-width: 992px) {
  #PreschoolSection4 .preschool-section-4-card {
    width: 33.3333333333%;
  }
}
#PreschoolSection4 .preschool-section-4-card:hover {
  background: var(--color-hover);
  color: #fff;
}
#PreschoolSection4 .preschool-section-4-card h4 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  line-height: 1.45;
  margin-top: 0;
  letter-spacing: -0.2px;
}
#PreschoolSection4 .preschool-section-4-card .fonts {
  margin-bottom: 0;
}
#PreschoolSection4 .card1 {
  --color: #3ab764;
  --color-hover: #1d6e39;
}
#PreschoolSection4 .card2 {
  --color: #fc5172;
  --color-hover: #832739;
}
#PreschoolSection4 .card3 {
  --color: #e7b338;
  --color-hover: #a0740c;
}
#PreschoolSection4 .card4 {
  --color: #e668b3;
  --color-hover: #873164;
}
#PreschoolSection4 .card5 {
  --color: #45a2bc;
  --color-hover: #1a5b6d;
}
#PreschoolSection4 .card6 {
  --color: #e4613c;
  --color-hover: #b13816;
}
#PreschoolSection4 .preschool-section-4-card-body {
  display: flex;
  flex: 1 1 auto;
}

.preschool-custom-section {
  margin-inline: auto;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1200px) {
  .preschool-custom-section {
    width: 91%;
    flex: 0 0 auto;
  }
}
@media (min-width: 1400px) {
  .preschool-custom-section {
    width: 83%;
  }
}

.preschool-title-spacing {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .preschool-title-spacing {
    padding-inline: 50px;
  }
}

.preschool-blue-color {
  color: #393d72;
}

#PreschoolSection5 {
  background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/bg125.jpg);
}

#PreschoolSection7 {
  background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/bg126.jpg);
}
#PreschoolSection7 #PreschoolSection7HeaderWrapper {
  margin-inline: auto;
}
@media (min-width: 768px) {
  #PreschoolSection7 #PreschoolSection7HeaderWrapper {
    width: 83%;
    flex: 0 0 auto;
  }
}
@media (min-width: 992px) {
  #PreschoolSection7 #PreschoolSection7HeaderWrapper {
    width: 66%;
  }
}
#PreschoolSection7 #PreschoolSection7ContentWrapper {
  position: relative;
}
#PreschoolSection7 .preschool-row {
  text-align: center;
  --gutter-y: 25px;
  justify-content: center;
}
@media (min-width: 768px) {
  #PreschoolSection7 .preschool-row {
    --gutter-x: 25px;
  }
}
@media (min-width: 768px) {
  #PreschoolSection7 .preschool-row .coitem {
    width: 50%;
    flex: 0 0 auto;
  }
}
@media (min-width: 1200px) {
  #PreschoolSection7 .preschool-row .coitem {
    width: 33%;
  }
}
#PreschoolSection7 .card {
  border: 0;
  color: inherit;
  border-color: #ff4880;
  box-shadow: 0 5px 35px rgba(30, 34, 40, 0.07);
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 8px;
  --card-spacer-y: 40px;
  --card-spacer-x: 40px;
}
#PreschoolSection7 .card::after {
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom-width: 6px;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-bottom-color: inherit;
  border-top-color: transparent;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  content: "";
  position: absolute;
}
#PreschoolSection7 .card h4 {
  font-weight: 600;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  line-height: 1.45;
  margin-top: 0;
  color: #343f52;
  letter-spacing: -0.2px;
  font-size: 19px;
}
#PreschoolSection7 .card .fonts {
  margin-bottom: 10px;
}

#Testimonials {
  background-color: #eff6fe !important;
  --swiper-navigation-color: #92278f;
}
#Testimonials #TestimonialsTitle {
  color: #92278f;
}
#Testimonials #TestimonialsShape1 {
  bottom: -10px;
  right: -34px;
  position: absolute;
  background-color: #fff8ee;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
#Testimonials #TestimonialsShape2 {
  top: -20px;
  left: -34px;
  position: absolute;
  background-image: radial-gradient(#3f78e0 2px, transparent 2.5px);
  background-size: 15px 15px;
  opacity: 0.5;
  height: 120px;
  width: 120px;
}
#Testimonials .card-body:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid red;
  margin: 10px;
  content: "";
}
#Testimonials .card {
  border: 0;
  color: inherit;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 8px;
  --card-spacer-y: 40px;
  --card-spacer-x: 40px;
}
#Testimonials blockquote.icon {
  position: relative;
  border: 0;
  padding: 0;
  font-size: 17px;
  line-height: 1.7;
  font-weight: 500;
  margin: 0;
}
#Testimonials blockquote.icon:before {
  content: "”";
  position: absolute;
  top: -30px;
  left: -18px;
  color: rgba(52, 63, 82, 0.05);
  font-size: 200px;
  line-height: 1;
  z-index: 1;
}
#Testimonials .blockquote-details {
  display: flex;
  align-items: center;
  text-align: left;
}
#Testimonials .blockquote-details .info {
  padding-left: 20px;
}
#Testimonials .blockquote-details .info h5 {
  line-height: 1.5;
  margin-bottom: 5px;
  font-weight: 600;
  color: #343f52;
  font-size: 19px;
  letter-spacing: 0.3px;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
}
#Testimonials .blockquote-details .info .fonts {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  #Testimonials .card-body {
    padding: 10px;
  }
}

#PreschoolLatestPhotos {
  --swiper-navigation-color: #393d72;
}
#PreschoolLatestPhotos .preschool-container:not(:has(div)) {
  padding: 0 !important;
}

/* hide the wavy bottom border if there are no photos, so that it doesn't show up with a white background right after the other color */
#wavy-bottom-border {
  display: none;
}

/* if there are photos, show it with display block so it doesn't have a white space under it */
#chabad_main_content:has(#PreschoolLatestPhotos .preschool-container div) #wavy-bottom-border {
  display: block;
}

#PreschoolFooterNav {
  background: #5674a1;
  color: white;
}
#PreschoolFooterNav .preschool-container {
  padding-top: 25px;
  padding-bottom: 35px;
}
@media (min-width: 992px) {
  #PreschoolFooterNav #PreschoolFooterNavInner {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
#PreschoolFooterNav #PreschoolFooterNavInner h3 {
  font-size: 23px;
  font-weight: 600;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  line-height: 1.35;
  margin-top: 0;
  margin-bottom: 15px;
  color: white;
  letter-spacing: 1px;
}
#PreschoolFooterNav #PreschoolFooterNavInner .fonts {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
}
#PreschoolFooterNav #PreschoolFooterNavContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#PreschoolFooter {
  background: #061737;
  color: #fff;
}
#PreschoolFooter .preschool-container {
  padding-block: 25px;
}
#PreschoolFooter #PreschoolFooterContent {
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  #PreschoolFooter #PreschoolFooterContent {
    display: flex;
  }
}
#PreschoolFooter #PreschoolFooterContent .fonts {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  #PreschoolFooter #PreschoolFooterContent .fonts {
    margin-bottom: 0;
  }
}
#PreschoolFooter nav {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  #PreschoolFooter nav {
    text-align: right;
  }
}
#PreschoolFooter #PreschoolFooterButton {
  background-color: #32afea;
  border: 2px solid #32afea;
  color: white;
  border-radius: 1000px;
  font-size: 20px;
  line-height: 34px;
  padding: 8px 20px;
  font-weight: 700;
  text-wrap: nowrap;
}
@media (min-width: 768px) {
  #PreschoolFooter #PreschoolFooterButton {
    margin: 0 0 0 14px;
  }
}

div[name=co_section][real_id^=column_promo] {
  display: flex;
  width: 100%;
  height: auto;
  height: fit-content;
}

.ContentItem[real_name=Header] {
  height: 90px;
  background: silver;
  margin-bottom: -15px;
  width: 685px;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/* styles for backwards compatibility */
body:not(.mobile) #chabad_body_page:has(.chabad_text_head) #chabad_head {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body:not(.mobile) #chabad_body_page:has(.chabad_text_head) #chabad_head .chabad_logo {
  color: white;
}
body:not(.mobile) #chabad_body_page:has(.chabad_text_head) #chabad_head > div {
  display: inline-flex;
  width: auto;
}

body.mobile #chabad_body_page:has(.chabad_text_head) .chabad_image_banner {
  min-height: 600px;
}
body.mobile #chabad_body_page:has(.chabad_text_head) .chabad_image_banner img {
  object-fit: cover;
  height: 100%;
  position: absolute;
}
body.mobile #chabad_body_page:has(.chabad_text_head) div#chabad_head .chabad_logo :is(a, div, a div) {
  width: 100%;
  text-align: center;
  color: black;
  font-size: clamp(17px, 2vw, 37px);
  font-weight: bold;
}

#chabad_body_page:has(.chabad_text_head) {
  /* hide the old subtitle from the header */
  /* remove the old spacing and make everything full width */
}
#chabad_body_page:has(.chabad_text_head) .chabad_text_head {
  display: none;
}
#chabad_body_page:has(.chabad_text_head) div#chabad_right_colum,
#chabad_body_page:has(.chabad_text_head) .content_page_full,
#chabad_body_page:has(.chabad_text_head) div#ContentArea {
  float: none;
  margin: 0;
  width: 100%;
}
#chabad_body_page:has(.chabad_text_head) .body_wrapper.clearfix.co_body {
  padding: 0;
}
#chabad_body_page:has(.chabad_text_head) div#co_body_container {
  padding: 0;
  margin: 0;
}
#chabad_body_page:has(.chabad_text_head) div#chabad_main_content,
#chabad_body_page:has(.chabad_text_head) div#chabad_body_content {
  width: 100%;
}
#chabad_body_page:has(.chabad_text_head) #content_banner {
  position: relative;
}
#chabad_body_page:has(.chabad_text_head) #content_banner::after {
  background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/illustrations/White-wavy-bottom-border.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
#chabad_body_page:has(.chabad_text_head) #content_banner .chabad_image_banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#chabad_body_page:has(.chabad_text_head) .chabad_banner_content .chabad_image_banner {
  max-height: 800px;
}
#chabad_body_page:has(.chabad_text_head) .chabad_banner_content .chabad_text_banner {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
#chabad_body_page:has(.chabad_text_head) .chabad_welcome {
  color: white;
  font-size: 70px;
  font-weight: 600;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  letter-spacing: -0.2px;
  margin-bottom: 35px;
  animation-name: zoomIn;
  animation-duration: 700ms;
  animation-timing-function: ease;
  animation-delay: 500ms;
  animation-direction: normal;
  animation-fill-mode: both;
  text-transform: capitalize;
}
@media (max-width: 600px) {
  #chabad_body_page:has(.chabad_text_head) .chabad_welcome {
    font-size: 50px;
  }
}
#chabad_body_page:has(.chabad_text_head) .chabad_text_banner_description {
  animation-name: zoomIn;
  animation-duration: 700ms;
  animation-timing-function: ease;
  animation-delay: 1000ms;
  animation-direction: normal;
  animation-fill-mode: both;
  letter-spacing: 1px;
  font-size: 23px;
  line-height: 1.55;
  color: white;
  text-transform: uppercase;
  margin-bottom: 25px;
}
#chabad_body_page:has(.chabad_text_head) .chabad_more_button {
  animation-name: zoomIn;
  animation-duration: 700ms;
  animation-timing-function: ease;
  animation-delay: 1500ms;
  animation-direction: normal;
  animation-fill-mode: both;
  background-color: #ff4880;
  border: 2px solid #ff4880;
  color: white;
  border-radius: 1000px;
  font-size: 20px;
  line-height: 34px;
  padding: 8px 20px;
  font-weight: 700;
  text-wrap: nowrap;
  display: inline-flex;
  margin-inline: auto;
}
#chabad_body_page:has(.chabad_text_head) img[src="https://w2.chabad.org/images/shluchim/minisites/themes/preschool/preschool_banner_image.jpg"] {
  content: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/PreschoolStockBackground.jpg);
}
#chabad_body_page:has(.chabad_text_head) .chabad_box_content_body,
#chabad_body_page:has(.chabad_text_head) .content_box_custom,
#chabad_body_page:has(.chabad_text_head) #chabad_right_colum > div {
  width: 100%;
  padding: 40px 15px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 576px) {
  #chabad_body_page:has(.chabad_text_head) .chabad_box_content_body,
  #chabad_body_page:has(.chabad_text_head) .content_box_custom,
  #chabad_body_page:has(.chabad_text_head) #chabad_right_colum > div {
    padding-inline: calc((100% - 540px) / 2);
  }
}
@media (min-width: 768px) {
  #chabad_body_page:has(.chabad_text_head) .chabad_box_content_body,
  #chabad_body_page:has(.chabad_text_head) .content_box_custom,
  #chabad_body_page:has(.chabad_text_head) #chabad_right_colum > div {
    padding-inline: calc((100% - 720px) / 2);
  }
}
@media (min-width: 992px) {
  #chabad_body_page:has(.chabad_text_head) .chabad_box_content_body,
  #chabad_body_page:has(.chabad_text_head) .content_box_custom,
  #chabad_body_page:has(.chabad_text_head) #chabad_right_colum > div {
    padding-inline: calc((100% - 960px) / 2);
  }
}
@media (min-width: 1200px) {
  #chabad_body_page:has(.chabad_text_head) .chabad_box_content_body,
  #chabad_body_page:has(.chabad_text_head) .content_box_custom,
  #chabad_body_page:has(.chabad_text_head) #chabad_right_colum > div {
    padding-inline: calc((100% - 1140px) / 2);
  }
}
@media (min-width: 1400px) {
  #chabad_body_page:has(.chabad_text_head) .chabad_box_content_body,
  #chabad_body_page:has(.chabad_text_head) .content_box_custom,
  #chabad_body_page:has(.chabad_text_head) #chabad_right_colum > div {
    padding-inline: calc((100% - 1320px) / 2);
  }
}
#chabad_body_page:has(.chabad_text_head) .big_title,
#chabad_body_page:has(.chabad_text_head) .medium_title,
#chabad_body_page:has(.chabad_text_head) .chabad_updates_head div,
#chabad_body_page:has(.chabad_text_head) .chabad_box_text_head,
#chabad_body_page:has(.chabad_text_head) .co_section_head {
  font-size: 50px;
  font-weight: 700;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  color: #393d72;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  #chabad_body_page:has(.chabad_text_head) .big_title,
  #chabad_body_page:has(.chabad_text_head) .medium_title,
  #chabad_body_page:has(.chabad_text_head) .chabad_updates_head div,
  #chabad_body_page:has(.chabad_text_head) .chabad_box_text_head,
  #chabad_body_page:has(.chabad_text_head) .co_section_head {
    font-size: 35px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #chabad_body_page:has(.chabad_text_head) .big_title,
  #chabad_body_page:has(.chabad_text_head) .medium_title,
  #chabad_body_page:has(.chabad_text_head) .chabad_updates_head div,
  #chabad_body_page:has(.chabad_text_head) .chabad_box_text_head,
  #chabad_body_page:has(.chabad_text_head) .co_section_head {
    padding-inline: 50px;
  }
}
#chabad_body_page:has(.chabad_text_head) .big_title:empty,
#chabad_body_page:has(.chabad_text_head) .medium_title:empty,
#chabad_body_page:has(.chabad_text_head) .chabad_updates_head div:empty,
#chabad_body_page:has(.chabad_text_head) .chabad_box_text_head:empty,
#chabad_body_page:has(.chabad_text_head) .co_section_head:empty {
  display: none;
}
#chabad_body_page:has(.chabad_text_head) .chabad_updates_head div {
  padding-inline: 10px;
}
#chabad_body_page:has(.chabad_text_head) .chabad_updates_head,
#chabad_body_page:has(.chabad_text_head) .co_calendar_head,
#chabad_body_page:has(.chabad_text_head) .co_photo_gallery_head,
#chabad_body_page:has(.chabad_text_head) .co_section_head {
  padding: 0 !important;
}
#chabad_body_page:has(.chabad_text_head) .chabad_text_box div,
#chabad_body_page:has(.chabad_text_head) .chabad_updates_text div,
#chabad_body_page:has(.chabad_text_head) .chabad_box_text_comment div {
  line-height: 1.6;
  font-size: 17px;
}
#chabad_body_page:has(.chabad_text_head) .chabad_box_content_second,
#chabad_body_page:has(.chabad_text_head) #chabad_updates {
  background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/bg126.jpg);
}
#chabad_body_page:has(.chabad_text_head) .co_photo_gallery {
  text-align: center;
}
#chabad_body_page:has(.chabad_text_head) .co_photo_gallery_footer a {
  float: none !important;
}
#chabad_body_page:has(.chabad_text_head) .content_box_custom {
  position: relative;
}
#chabad_body_page:has(.chabad_text_head) .content_box_custom::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/bg125.jpg);
  z-index: -1;
}
#chabad_body_page:has(.chabad_text_head) #co_photo_gallery {
  position: relative;
}
#chabad_body_page:has(.chabad_text_head) #co_photo_gallery::before {
  content: "";
  bottom: 50px;
  right: 15%;
  z-index: -1;
  position: absolute;
  background-color: rgb(237, 242, 252);
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
#chabad_body_page:has(.chabad_text_head) #co_photo_gallery::after {
  content: "";
  top: 50px;
  left: 15%;
  z-index: -1;
  position: absolute;
  background-image: radial-gradient(#fab758 2px, transparent 2.5px);
  background-size: 15px 15px;
  opacity: 0.5;
  height: 140px;
  width: 120px;
}
#chabad_body_page:has(.chabad_text_head) #chabad_right_colum #co_calendar {
  display: none;
}

.set-direction-to-content {
  text-align: center;
}

body:has(#MoreInSection) .co_section {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
