/* Error: Undefined variable.
 *     ,
 * 123 | #chabad_main_content :has(#{$hero-image-container-on-old-minisites}, img[src$="White-wavy-bottom-border.png"], footer),
 *     |                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   public/style.scss 123:29  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined variable.\a     \2577 \a 123 \2502  #chabad_main_content :has(#{$hero-image-container-on-old-minisites}, img[src$="White-wavy-bottom-border.png"], footer),\a     \2502                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   public/style.scss 123:29  root stylesheet';
}
