@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap");
$first-section-of-content-on-old-minisites: "#chabad_left_colum > :nth-child(1)";
$hero-image-container-level-one-on-old-minisites: ".chabad_image_banner";
$hero-image-container-level-two-on-old-minisites: ".chabad_image_content";
$hero-text-wrapper-on-old-minisites: "#chabad_banner_text";
$hero-bottom-border-on-old-minisites: "#content_banner::after";
/* page tools seem to stay even if you choose to hide them so here they get set to stay hidden always */
.page-tools-sidebar {
	display: none;
}
.co_content_container {
	padding-top: 0;
}
.g960.footer,
#BodyContainer {
	max-width: 100%;
	margin: auto;
}
#co_content_container {
	font-size: 17px;
	color: #60697b;
}
.fonts {
	line-height: 1.6;
}
#BodyContainer .no-hero-image #co_content_container .master-content-wrapper.master-content-wrapper {
	background-color: #12b0d1 !important;
}
/* only apply this style when the template 5 template is being used */
html:has(link[href*="template5"]) {
	body:not(.mobile) header.article-header.cf {
		padding: 0;
		margin: 0;
	}
	header.article-header.cf {
		border: 0;
	}
	.article_index .row {
		display: flex;
		justify-content: center;
	}
}
/* only use these styles for the index page when the template 5 and sites 6 templates aren't being used */
html:not(:has(link#k[href*="sites6"], link#k[href*="template5"])) .article_index {
	&.clearfix::after {
		display: none;
	}
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;
	.row {
		margin: 0;
		position: relative;
		width: 250px;
		height: 150px;
	}
	.item {
		background: none;
		padding: 0;
	}
	.title {
		padding: 0;
		text-align: center;
		a {
			color: white;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 15px;
			transition: all 0.3s;
			font-size: 18px;
			background-color: rgba(120, 120, 120, 0.6);
			&:hover {
				background: rgba(49, 124, 184, 0.6);
			}
		}
	}
	img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
}
/* Main grid layout for header and content */
#chabad_main_content {
	--padding-inline: 16px;
	--content-max-width: 1320px;
	--breakout-max-width: 1360px;
	--breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
	display: grid;
	grid-template-columns:
		[full-width-start] minmax(var(--padding-inline), 1fr)
		[breakout-start] minmax(0, var(--breakout-size))
		[content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end]
		minmax(0, var(--breakout-size)) [breakout-end]
		minmax(var(--padding-inline), 1fr) [full-width-end];
	* {
		// Fixes a bug where the grid items would be too wide
		min-width: 0;
		// Help prevent overflow of long words/names/URLs
		overflow-wrap: break-word;
		text-wrap: pretty;
	}
}
#chabad_main_content :has(#{$hero-image-container-level-one-on-old-minisites}, img[src$="White-wavy-bottom-border.png"], #co_body_container, #chabad_right_colum, #chabad_left_colum, header.article-header, footer),
:is(#chabad_main_content footer, #chabad_right_colum, #chabad_left_colum) {
	display: grid;
	grid-template-rows: subgrid;
	grid-template-columns: subgrid;
	grid-column: full-width;
}
#chabad_main_content :has(#content_banner, #PreschoolSection1, #co_body_container) {
	// Content areas should fill the entire height of the page
	grid-row: 1/99;
}
:is(#chabad_main_content :has(#chabad_left_colum), #chabad_left_colum):not(:has(#content_banner:first-child)) {
	grid-row: 2/99;
}
.section_root #chabad_main_content:not(:has(#content_banner:first-child, #PreschoolSection1Image)) #chabad_head {
	background-color: #12b0d1;
	margin-bottom: 50px;
	.sub_menu {
		background-color: #12b0d1;
	}
}
#chabad_head {
	// Header should overlap the first row of content
	z-index: 1;
	grid-column: content;
	grid-row: 1;
}
.master-content-wrapper {
	body:not(.mobile) & {
		grid-template-rows: auto !important;
	}
	grid-row: 1/3;
}
header.article-header {
	grid-row: 2;
	grid-column: content;
	.mobile & {
		margin-bottom: 0;
	}
}
#{$first-section-of-content-on-old-minisites},
#{$hero-image-container-level-one-on-old-minisites},
#{$hero-image-container-level-two-on-old-minisites},
#PreschoolSection1,
#PreschoolSection1Image {
	grid-column: full-width;
	grid-row: 1/4;
}
#{$hero-text-wrapper-on-old-minisites},
#PreschoolSection1Text {
	grid-column: content;
	grid-row: 2;
}
#PreschoolSection1Text {
	display: grid;
	justify-items: center;
	align-items: center;
	align-content: center;
	gap: 20px;
	max-width: 800px;
	place-self: center;
	margin-block: 50px;
}
#{$hero-bottom-border-on-old-minisites},
img[src$="White-wavy-bottom-border.png"] {
	grid-column: full-width;
	grid-row: 3;
	align-self: end;
	z-index: 0;
}
.mobile #chabad_head {
	grid-column: full-width;
	> * {
		width: 100%;
	}
}
:where(#chabad_left_colum > :nth-child(2), :is(#chabad_head, footer) > *) {
	grid-column: content;
}
#wavy-bottom-border {
	grid-column: full-width;
}
:where(.content-area-parent:has(#PreschoolSection1)) > *:not(#PreschoolSection1) {
	padding-block: 50px;
	grid-column: content;
}
img {
	max-width: 100%;
	height: auto;
}
#chabad_body_page {
	container-type: inline-size;
	:is(.btn, .chabad_welcome, .chabad_more_button, .chabad_text_banner_description) {
		animation-name: zoomIn;
		animation-duration: 700ms;
		animation-timing-function: ease;
		animation-direction: normal;
		animation-fill-mode: both;
	}
	.btn {
		--btn-padding-x: 24px;
		--btn-padding-y: 10px;
		--btn-bg: transparent;
		--btn-border-color: transparent;
		--btn-hover-border-color: transparent;
		padding: var(--btn-padding-y) var(--btn-padding-x);
		font-size: 16px;
		font-weight: 700;
		line-height: 1.7;
		color: #60697b;
		vertical-align: middle;
		cursor: pointer;
		user-select: none;
		border: 2px solid var(--btn-border-color);
		background-color: var(--btn-bg);
		box-shadow: unset;
		transition: all 0.2s ease-in-out;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		transform: translateY(0);
		letter-spacing: -0.2px;
		position: relative;
		animation-delay: 1500ms;
		border-radius: 1000px !important;
	}
	.display-3 {
		font-family: "Fredoka", Helvetica, Arial, "sans-serif";
		font-size: 50px;
		text-wrap: balance;
	}
	:is(.btn-primaryx, .btn-primaryx2) {
		font-size: 20px;
		margin-top: -35px;
		--btn-padding-x: 28px !important;
		--btn-padding-y: 20px !important;
		--btn-bg: #fff;
		--btn-hover-bg: #fff;
		--btn-active-bg: #fff;
	}
	.btn-primaryx {
		--btn-border-color: #fff;
		--btn-hover-border-color: #fff;
		--btn-active-border-color: #fff;
	}
	.btn-primaryx2 {
		--btn-border-color: #9a8fff;
		--btn-hover-border-color: #9a8fff;
		--btn-active-border-color: #9a8fff;
	}
	:is(.swiper-slide, .card) {
		position: relative;
	}
	.blockquote-details {
		margin-top: 20px;
	}
	.card-body {
		flex: 1 1 auto;
		padding: var(--card-spacer-y) var(--card-spacer-x);
		color: var(--card-color);
	}
	.card-bodyf {
		flex: 1 1 auto;
		padding: var(--card-spacer-y) var(--card-spacer-x);
		color: var(--card-color);
		&:hover {
			background: #ff4880;
		}
		&:hover,
		&:hover h4 {
			color: #fff;
			border-radius: 7px;
		}
	}
	.iconsfoot {
		margin-right: 15px !important;
		i {
			margin-right: 5px;
			color: #32afea;
		}
	}
	.form-check-input {
		flex-shrink: initial;
	}
	:is(.co_photo_gallery, .slider-wrapper) {
		padding: 20px;
	}
	:is(.co_photo_gallery_body, #TestimonialSlides) {
		position: relative;
		width: 100%;
		padding-inline: 40px !important;
		.swiper-button-prev {
			left: 0;
		}
		.swiper-button-next {
			right: 0;
		}
	}
	.slider-wrapper {
		.slide {
			border-radius: 5px;
		}
		.card {
			padding: 20px;
		}
		.blockquote-details img {
			border-radius: 50%;
			width: 70px;
			margin-right: 15px;
		}
	}
	.co_photo_gallery img {
		width: 100%;
		height: auto;
		object-fit: cover;
		aspect-ratio: 1;
		border-radius: 5px;
	}
	.co_photo_gallery_head div {
		color: #393d72;
		font-size: 50px;
		font-family: Fredoka, Helvetica, Arial, sans-serif;
		font-weight: 600;
		line-height: 1.25;
		padding-bottom: 20px;
	}
	.bh {
		position: absolute;
		top: 30px;
		right: 30px;
	}
	.master-content-wrapper {
		background-image: linear-gradient(0deg, rgba(117, 197, 221, 1) 0%, rgba(18, 176, 209, 1) 100%);
		min-height: 300px;
		z-index: 0;
		.mobile & {
			grid-row: 2;
			padding-block: 35px;
		}
		.article-header__title {
			color: #343f52 !important;
			font-family: "Fredoka", Helvetica, Arial, "sans-serif";
			font-size: 70px;
			@container (max-width: 700px) {
				font-size: 40px;
			}
		}
	}
	.card-border-bottom::after {
		bottom: 0;
		right: 0;
		left: 0;
		border-bottom-width: 4px;
		border-top-width: calc(8px - 4px);
		border-bottom-style: solid;
		border-top-style: solid;
		border-bottom-color: inherit;
		border-top-color: transparent;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		content: "";
		position: absolute;
	}
	a:hover {
		text-decoration: none;
	}
}
/* General Styling for the Navbar */
body:not(.mobile) #chabad_body_page {
	.chabad_navigator_bar ul li {
		z-index: initial;
		border: 0;
	}
	#chabad_head {
		padding: 20px;
		max-width: 100%;
		height: fit-content;
	}
	#chabad_head .navi {
		height: unset;
		a {
			font-family: "Open Sans", sans-serif;
			padding-inline: 10px;
		}
		a.parent.arrow::after {
			content: " ↓";
		}
		.sub_menu {
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			background: #393d72;
			top: auto;
		}
		.item .item a {
			padding: 6px;
			font-size: 13px;
			font-weight: 300;
		}
	}
	#navigation {
		width: initial;
		height: initial;
		.navi {
			@container (min-width: 992px) {
				column-gap: 10px;
			}
			@container (max-width: 991px) {
				row-gap: 10px;
			}
			display: flex;
			flex-wrap: wrap;
			:is(li, a) {
				float: none;
				line-height: normal;
			}
			a {
				font-size: 17px;
				color: white;
				background: unset;
			}
		}
	}
	footer #menu {
		height: unset;
		.sub_menu a {
			font-family: "Open Sans", sans-serif;
			font-size: 15px;
			font-weight: 500;
		}
		ul {
			padding: 0;
		}
		.parent {
			font-family: "Fredoka", Helvetica, Arial, "sans-serif";
			margin-bottom: 10px;
			font-size: 20px;
			letter-spacing: 0.5px;
		}
	}
}
:is(div#chabad_body_content, body.mobile div#chabad_body_content, body.mobile div#co_photo_gallery .co_photo_gallery_body) {
	padding: 0 !important;
}
:is(div#ContentArea, div#chabad_main_content, div#chabad_body_content, .cco_templatelates_content) {
	margin: 0;
	width: 100%;
	float: none;
}
.body_wrapper.clearfix.co_body {
	width: 100%;
	padding: 0;
}
div#co_body_container {
	width: 100% !important;
	padding: 0 !important;
	margin: 0;
}
#header.on-scroll {
	position: absolute !important;
}
div#co_photo_gallery .co_photo_gallery_footer a {
	float: none;
	padding-top: 30px;
	background-color: #ffae00;
	border: solid 2px #ffae00;
	display: inline-block;
	color: #fff;
	border-radius: 1000px;
	font-size: 20px;
	padding: 8px 20px;
}
.co_photo_gallery a img {
	overflow: revert;
}
body.mobile {
	#chabad_body_page {
		.display-1 {
			font-size: 40px !important;
			margin-top: 35px;
		}
		h2 {
			letter-spacing: normal !important;
			line-height: normal;
			font-size: 20px;
		}
		#chabad_head {
			background: #f9f9f9;
		}
		#chabad_head {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 5px;
			height: fit-content;
			> a {
				width: 100%;
				margin: 0 !important;
				color: black !important;
			}
		}
	}
	&.cco_templateless_page #chabad_body_page .bh {
		top: -6px;
		right: 10px;
		z-index: 10;
	}
	footer a {
		color: white;
	}
}
.footer_hr {
	height: 1px;
}
.section_branch {
	#chabad_head {
		z-index: 2;
	}
	:is(.body_wrapper, #co_body_container) {
		grid-row: 3;
		grid-column: content;
	}
	#wavy-bottom-border {
		grid-row: 4;
	}
	#PreschoolFooterNav {
		grid-row: 5;
	}
	#co_body_container {
		margin-top: 50px !important;
		.co_body.article-body:not(*) {
			min-height: 300px;
		}
	}
	#chabad_right_colum {
		display: none;
	}
}
:is(.co_body .content p, .co_body .content li, .co_body .content .form-all li, html body.cco_body p, .form-all) {
	color: #343333;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}
.form-line {
	border: 0;
}
:is(body, .cco_templateless_template, .cco_templateless_template a) {
	background: #f9f9f9;
	color: black;
	font-family: "Open Sans", sans-serif;
}
#chabad_head {
	flex-wrap: nowrap;
	@container (max-width: 600px) {
		body::not(.mobile) & {
			flex-wrap: wrap;
			gap: 20px;
		}
	}
	display: flex !important;
	justify-content: space-between;
	#PreschoolTitle {
		color: white;
		font-size: clamp(17px, 2vw, 37px);
		font-weight: bold;
	}
}
#PreschoolSection1 {
	#PreschoolSection1Image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: brightness(0.5);
	}
	// animation
	:is(#PreschoolSection1Title, #PreschoolSection1Description, #PreschoolSection1Button) {
		animation-name: zoomIn;
		animation-duration: 700ms;
		animation-timing-function: ease;
		animation-direction: normal;
		animation-fill-mode: both;
	}
	#PreschoolSection1Title {
		color: white;
		font-size: 70px;
		font-weight: 600;
		font-family: Fredoka, Helvetica, Arial, sans-serif;
		animation-delay: 500ms;
		@container (max-width: 600px) {
			font-size: 50px;
		}
		text-wrap: balance;
	}
	#PreschoolSection1Description {
		animation-delay: 1000ms;
		letter-spacing: 1px;
		font-size: 23px;
		color: white;
		text-transform: uppercase;
	}
	#PreschoolSection1Button {
		animation-delay: 1500ms;
		background-color: #ff4880;
		color: white;
		border-radius: 1000px;
		font-size: 20px;
		padding: 15px 20px;
		font-weight: 700;
		z-index: 1;
	}
	img[src$="White-wavy-bottom-border.png"] {
		margin-bottom: -1px;
		background-repeat: no-repeat;
		padding-top: 20px;
	}
}
#PreschoolSection2 {
	grid-column: content;
	container-type: inline-size;
	display: grid;
	place-items: center;
	@container (min-width: 850px) {
		img {
			grid-area: 1/1/3/2;
		}
		h3 {
			grid-area: 1/2/2/3;
			align-self: end;
			justify-self: left;
		}
		.fonts {
			grid-area: 2/2/3/3;
			text-align: left;
			align-self: start;
		}
	}
	img {
		aspect-ratio: 1;
		width: auto;
		height: 100%;
		max-height: 518px;
		object-fit: cover;
		mask-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/Section2ImageMask.png);
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: contain;
		margin: 25px;
	}
	h3 {
		color: #28a73c;
		margin: 25px;
	}
	.fonts {
		margin: 25px;
	}
}
.preschool-shape-1 {
	:has(> &) {
		position: relative;
	}
	bottom: -10px;
	right: -44px;
	z-index: 0;
	position: absolute;
	background-color: rgb(237, 242, 252);
	border-radius: 50%;
	height: 120px;
	width: 120px;
}
.preschool-shape-2 {
	:has(> &) {
		position: relative;
	}
	top: -10px;
	left: -50px;
	z-index: 0;
	position: absolute;
	background-image: radial-gradient(#fab758 2px, transparent 2.5px);
	background-size: 15px 15px;
	opacity: 0.5;
	height: 140px;
	width: 120px;
}
#PreschoolSection3 {
	background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/bg126.jpg);
	display: grid;
	grid-template-columns: subgrid;
	> :first-child {
		grid-column: content;
	}
	#PreschoolSection3Cards {
		grid-column: content;
		display: flex;
		flex-wrap: wrap;
		gap: 25px;
	}
	grid-column: full-width;
	h3 {
		margin-inline: auto;
		@container (min-width: 768px) {
			width: 83%;
		}
		@container (min-width: 992px) {
			width: 66%;
		}
	}
	.coitem {
		flex: 1 1 300px;
	}
	.card {
		border: 0;
		color: inherit;
		border-color: #ff4880;
		box-shadow: 0 5px 35px rgba(30, 34, 40, 0.07);
		background-color: #fff;
		background-clip: border-box;
		border-radius: 8px;
		--card-spacer-y: 40px;
		--card-spacer-x: 40px;
		&::after {
			bottom: 0;
			right: 0;
			left: 0;
			border-bottom-width: 6px;
			border-top-width: 2px;
			border-bottom-style: solid;
			border-top-style: solid;
			border-bottom-color: inherit;
			border-top-color: transparent;
			border-bottom-left-radius: 0.4rem;
			border-bottom-right-radius: 0.4rem;
			content: "";
			position: absolute;
		}
		h4 {
			font-weight: 600;
			font-family: Fredoka, Helvetica, Arial, sans-serif;
			margin-bottom: 5px;
			line-height: 1.45;
			margin-top: 0;
			color: #343f52;
			letter-spacing: -0.2px;
			font-size: 19px;
		}
		.fonts {
			margin-bottom: 10px;
		}
	}
}
#PreschoolSection4 {
	grid-column: breakout;
	display: flex;
	flex-wrap: wrap;
	> :first-child {
		width: 100%;
	}
	h3 {
		color: #7e0f7c;
	}
	#PreschoolSection4Description {
		@container (min-width: 768px) {
			width: 83%;
		}
		@container (min-width: 992px) {
			width: 66%;
		}
		line-height: 1.4;
		padding-bottom: 40px;
		margin-inline: auto;
	}
	.preschool-section-4-card {
		background: var(--color);
		color: #fff;
		padding: 3%;
		@container (min-width: 768px) {
			width: 50%;
		}
		@container (min-width: 992px) {
			width: 33.3333333333%;
		}
		&:hover {
			background: var(--color-hover);
			color: #fff;
		}
		h4 {
			font-size: 30px;
			color: #fff;
			font-weight: 600;
			font-family: Fredoka, Helvetica, Arial, sans-serif;
			margin-bottom: 5px;
			line-height: 1.45;
			margin-top: 0;
			letter-spacing: -0.2px;
		}
		.fonts {
			margin-bottom: 0;
		}
	}
	.card1 {
		--color: #3ab764;
		--color-hover: #1d6e39;
	}
	.card2 {
		--color: #fc5172;
		--color-hover: #832739;
	}
	.card3 {
		--color: #e7b338;
		--color-hover: #a0740c;
	}
	.card4 {
		--color: #e668b3;
		--color-hover: #873164;
	}
	.card5 {
		--color: #45a2bc;
		--color-hover: #1a5b6d;
	}
	.card6 {
		--color: #e4613c;
		--color-hover: #b13816;
	}
}
.preschool-custom-section {
	min-height: 350px;
	grid-column: content;
	display: grid;
	grid-template-columns: subgrid;
	align-content: center;
	> * {
		margin-inline: auto;
		grid-column: content;
		@container (min-width: 1200px) {
			width: 91%;
		}
		@container (min-width: 1400px) {
			width: 83%;
		}
	}
}
.preschool-title-spacing {
	@container (min-width: 1200px) {
		padding-inline: 50px;
	}
	margin-bottom: 40px;
}
.preschool-blue-color {
	color: #393d72;
}
#PreschoolSection5 {
	background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/bg125.jpg);
	grid-column: full-width;
}
#PreschoolSection7 {
	background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/bg126.jpg);
	grid-column: full-width;
	display: grid;
	grid-template-columns: subgrid;
	> :first-child {
		grid-column: content;
	}
	h3 {
		margin-inline: auto;
		@container (min-width: 768px) {
			width: 83%;
		}
		@container (min-width: 992px) {
			width: 66%;
		}
	}
	#PreschoolSection7Cards {
		grid-column: content;
		display: flex;
		flex-wrap: wrap;
		gap: 25px;
		justify-content: center;
	}
	.coitem {
		flex: 1 1 300px;
	}
	.card {
		border: 0;
		color: inherit;
		border-color: #ff4880;
		box-shadow: 0 5px 35px rgba(30, 34, 40, 0.07);
		background-color: #fff;
		background-clip: border-box;
		border-radius: 8px;
		--card-spacer-y: 40px;
		--card-spacer-x: 40px;
		&::after {
			bottom: 0;
			right: 0;
			left: 0;
			border-bottom-width: 6px;
			border-top-width: 2px;
			border-bottom-style: solid;
			border-top-style: solid;
			border-bottom-color: inherit;
			border-top-color: transparent;
			border-bottom-left-radius: 0.4rem;
			border-bottom-right-radius: 0.4rem;
			content: "";
			position: absolute;
		}
		h4 {
			font-weight: 600;
			font-family: Fredoka, Helvetica, Arial, sans-serif;
			margin-bottom: 5px;
			line-height: 1.45;
			margin-top: 0;
			color: #343f52;
			letter-spacing: -0.2px;
			font-size: 19px;
		}
		.fonts {
			margin-bottom: 10px;
		}
	}
}
#Testimonials {
	grid-column: full-width;
	display: grid;
	grid-template-columns: subgrid;
	> * {
		grid-column: content;
	}
	background-color: #eff6fe !important;
	--swiper-navigation-color: #92278f;
	#TestimonialsTitle {
		color: #92278f;
	}
	#TestimonialsShape1 {
		bottom: -10px;
		right: -34px;
		position: absolute;
		background-color: #fff8ee;
		border-radius: 50%;
		height: 120px;
		width: 120px;
	}
	#TestimonialsShape2 {
		top: -20px;
		left: -34px;
		position: absolute;
		background-image: radial-gradient(#3f78e0 2px, transparent 2.5px);
		background-size: 15px 15px;
		opacity: 0.5;
		height: 120px;
		width: 120px;
	}
	.card-body:before {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-top: 20px solid red;
		margin: 10px;
		content: "";
	}
	.card {
		border: 0;
		color: inherit;
		background-color: #fff;
		background-clip: border-box;
		border-radius: 8px;
		--card-spacer-y: 40px;
		--card-spacer-x: 40px;
	}
	blockquote.icon {
		position: relative;
		border: 0;
		padding: 0;
		font-size: 17px;
		line-height: 1.7;
		font-weight: 500;
		margin: 0;
		&:before {
			content: "\201d";
			position: absolute;
			top: -30px;
			left: -18px;
			color: rgba(52, 63, 82, 0.05);
			font-size: 200px;
			line-height: 1;
			z-index: 1;
		}
	}
	.blockquote-details {
		display: flex;
		align-items: center;
		text-align: left;
		.info {
			padding-left: 20px;
			h5 {
				line-height: 1.5;
				margin-bottom: 5px;
				font-weight: 600;
				color: #343f52;
				font-size: 19px;
				letter-spacing: 0.3px;
				font-family: Fredoka, Helvetica, Arial, sans-serif;
			}
			.fonts {
				margin-bottom: 0;
			}
		}
	}
	@container (max-width: 767px) {
		.card-body {
			padding: 10px;
		}
	}
}
#PreschoolLatestPhotos {
	--swiper-navigation-color: #393d72;
	&:not(:has(div)) {
		padding: 0 !important;
	}
}
/* hide the wavy bottom border if there are no photos, so that it doesn't show up with a white background right after the other color */
#wavy-bottom-border {
	display: none;
}
/* if there are photos, show it with display block so it doesn't have a white space under it */
:is(#chabad_main_content:has(#PreschoolLatestPhotos div), .section_branch) #wavy-bottom-border {
	display: block;
	padding-top: 50px;
}
#PreschoolFooterNav {
	padding-top: 25px;
	padding-bottom: 35px;
	background: #5674a1;
	color: white;
	> div:first-child {
		display: grid;
		align-items: center;
		gap: 25px;
		@container (min-width: 768px) {
			grid-template-columns: [about-start] 1fr [about-end nav-start] 2fr [nav-end];
			> :last-child {
				grid-column: nav;
				justify-self: end;
				grid-row: 1/3;
			}
		}
		h3 {
			font-size: 23px;
			font-weight: 600;
			font-family: Fredoka, Helvetica, Arial, sans-serif;
			line-height: 1.35;
			color: white;
			letter-spacing: 1px;
			grid-column: 1;
		}
		.fonts {
			font-size: 18px;
			font-weight: 500;
			grid-column: 1;
		}
	}
}
#PreschoolFooter {
	padding-block: 25px;
	background: #061737;
	color: #fff;
	> div:first-child {
		@container (min-width: 768px) {
			display: grid;
			grid-template-columns: [about-start] 2fr [about-end nav-start] 1fr [nav-end];
			justify-content: space-between;
			align-items: center;
			.fonts {
				grid-column: about;
			}
		}
	}
	#PreschoolFooterButton {
		display: block;
		grid-column: nav;
		background-color: #32afea;
		color: white;
		border-radius: 1000px;
		font-size: 20px;
		line-height: 34px;
		padding: 10px 20px;
		font-weight: 700;
		max-width: fit-content;
		justify-self: end;
		@container (max-width: 768px) {
			margin-top: 25px;
			margin-inline: auto;
		}
	}
}
:is(#PreschoolFooterButton, .chabad_more_button, #chabad_body_page .btn, .co_photo_gallery_footer a, #PreschoolSection1Button):hover {
	transform: translateY(-3px);
	box-shadow: 0 5px 15px rgba(30, 34, 40, 0.15);
}
div[name="co_section"][real_id^="column_promo"] {
	display: flex;
	width: 100%;
	height: auto;
	height: fit-content;
}
.ContentItem[real_name="Header"] {
	height: 90px;
	background: silver;
	margin-bottom: -15px;
	width: 685px;
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
/* styles for backwards compatibility */
body:not(.mobile) #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_head .chabad_logo {
	color: white;
}
#{$hero-image-container-level-one-on-old-minisites} {
	min-height: 500px;
	max-height: max(30vmax, 800px) !important;
}
body.mobile #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) {
	div#chabad_head .chabad_logo :is(a, div, a div) {
		width: 100%;
		color: black;
		font-size: clamp(17px, 2vw, 37px);
		font-weight: bold;
	}
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) {
	td.chabad_logo :is(div, a, h1) {
		font-size: clamp(17px, 2vw, 37px);
		font-weight: bold;
	}
	.chabad_text_head {
		display: none;
	}
	:is(div#chabad_right_colum, .content_page_full, div#ContentArea) {
		float: none;
		margin: 0;
		width: 100%;
	}
	.body_wrapper.clearfix.co_body {
		padding: 0;
	}
	div#co_body_container {
		padding: 0;
		margin: 0;
	}
	:is(div#chabad_main_content, div#chabad_body_content) {
		width: 100%;
	}
	#{$hero-image-container-level-one-on-old-minisites} img {
		object-fit: cover;
		height: 100%;
		width: 100%;
		filter: brightness(0.5);
	}
	#content_banner {
		&:not(:first-child) {
			grid-column: content;
		}
		&:first-child::after {
			background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/illustrations/White-wavy-bottom-border.png);
			background-repeat: round no-repeat;
			background-size: contain;
			width: 100%;
			aspect-ratio: 3199/122;
			margin-bottom: -1px;
		}
		min-height: 500px;
		.chabad_text_banner {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 100%;
		}
	}
	.chabad_welcome {
		color: white;
		font-size: 70px;
		@container (max-width: 600px) {
			font-size: 50px;
		}
		font-weight: 600;
		font-family: Fredoka, Helvetica, Arial, sans-serif;
		line-height: 1.2;
		letter-spacing: -0.2px;
		margin-bottom: 35px;
		animation-delay: 500ms;
		text-transform: capitalize;
	}
	.chabad_text_banner_description {
		animation-delay: 1000ms;
		letter-spacing: 1px;
		font-size: 23px;
		line-height: 1.55;
		color: white;
		text-transform: uppercase;
		margin-bottom: 25px;
		p {
			color: inherit;
			font-size: inherit;
		}
	}
	.chabad_more_button {
		animation-delay: 1500ms;
		background-color: #ff4880;
		border: 2px solid #ff4880;
		color: white;
		border-radius: 1000px;
		font-size: 20px;
		line-height: 34px;
		padding: 8px 20px;
		font-weight: 700;
		display: inline-flex;
		z-index: 1;
		float: none;
	}
	:is(img[src*="preschool_banner_image.jpg"], #{$hero-image-container-level-one-on-old-minisites}:not(:has(img))) {
		content: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/PreschoolStockBackground.jpg);
		object-fit: cover;
	}
	#{$hero-image-container-level-one-on-old-minisites}:not(:has(img)) {
		height: 100%;
		width: 100%;
		filter: brightness(0.5);
	}
	#{$hero-image-container-level-one-on-old-minisites} {
		background-color: #12b0d1;
	}
	:is(.chabad_box_content_body, .content_box_custom, #chabad_right_colum > :is(#chabad_updates, #co_photo_gallery, #co_calendar, #co_section, #chabad_box_text):not(:empty)) {
		padding: 40px 15px;
		min-height: 350px;
		align-content: center;
	}
	div#chabad_right_colum > div {
		margin-block: 0;
	}
	:is(.big_title, .medium_title, .chabad_updates_head div, .chabad_box_text_head, .co_section_head, .co_calendar_head) {
		@container (max-width: 600px) {
			font-size: 35px;
		}
		max-width: 800px;
		margin-inline: auto;
		font-size: 50px;
		font-weight: 700;
		font-family: Fredoka, Helvetica, Arial, sans-serif;
		color: #393d72;
		text-align: center;
		margin-bottom: 40px;
		@container (min-width: 1200px) {
			padding-inline: 50px;
		}
		&:empty {
			display: none;
		}
	}
	.chabad_updates_head div {
		padding-inline: 10px;
	}
	:is(.chabad_updates_head, .co_calendar_head, .co_photo_gallery_head, .co_section_head) {
		padding: 0 !important;
	}
	:is(.chabad_text_box div, .chabad_updates_text div, .chabad_box_text_comment div) {
		line-height: 1.6;
		font-size: 17px;
	}
	.co_photo_gallery_footer a {
		float: none !important;
	}
	:is(#chabad_left_colum, #chabad_right_colum) {
		text-align: center;
		> *:not(#content_banner) {
			grid-column: content;
		}
		> *:has(*):not(#content_banner) {
			grid-column: full-width;
			display: grid;
			grid-template-columns: subgrid;
			grid-template-rows: auto;
			> * {
				grid-column: content;
			}
		}
	}
	#chabad_left_colum > :nth-child(4n + 3):has(*),
	#chabad_right_colum > :nth-child(4n + 1):has(*) {
		background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/bg126.jpg);
	}
	#chabad_left_colum > :nth-child(4n + 5):has(*),
	#chabad_right_colum > :nth-child(4n + 3):has(*) {
		background-image: url(https://mendelgordon.github.io/chabad-org-preschool-4/dist/assets/img/photos/bg125.jpg);
	}
	#chabad_left_colum > :nth-child(4n + 4),
	#chabad_right_colum > :nth-child(4n + 2) {
		position: relative;
		&::before {
			content: "";
			bottom: 50px;
			right: 15%;
			z-index: -1;
			position: absolute;
			background-color: rgb(237, 242, 252);
			border-radius: 50%;
			height: 120px;
			width: 120px;
		}
		&::after {
			content: "";
			top: 50px;
			left: 15%;
			z-index: -1;
			position: absolute;
			background-image: radial-gradient(#fab758 2px, transparent 2.5px);
			background-size: 15px 15px;
			opacity: 0.5;
			height: 140px;
			width: 120px;
		}
	}
	#chabad_right_colum [class$="body"] {
		font-size: inherit;
	}
	#chabad_right_colum {
		grid-row: 100;
		grid-template-rows: auto;
	}
}
body:has(#cco_body > #photos > .photo[data-img="0"]) {
	#cco_body > #photos {
		min-height: 150px;
	}
}
:where(.set-direction-to-content, .co_photo_gallery, .co_photo_gallery_head div, div#co_photo_gallery .co_photo_gallery_footer, div#co_photo_gallery .co_photo_gallery_footer a, .chabad_text_banner, #PreschoolSection7, .preschool-section-4-card h4, #PreschoolSection4, #PreschoolSection3, #PreschoolSection2, #PreschoolSection1, body.mobile #chabad_head a, .article-header__title, .card-bodyf, .display-3, .btn),
div#chabad_head .chabad_logo :is(a, div, a div) {
	text-align: center;
}
:is(body:has(#MoreInSection, .article_index_container) .co_section, img[src$="/bh.gif"], .content3:has(script)) {
	display: none;
}
.chabad_announce {
	overflow: visible;
}
:is(div, a) {
	font-family: inherit;
}
body.sites-article #header {
	border-bottom: none;
}
