@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap");
/* hero image container level one on old minisites ".chabad_image_banner" */
/* hero image container level two on old minisites ".chabad_image_content" */
/* hero text wrapper on old minisites "#chabad_banner_text" */
/* hero bottom border on old minisites "#content_banner:after" */
/* page tools seem to stay even if you choose to hide them so here they get set to stay hidden always */
.page-tools-sidebar {
  display: none;
}

/* breadcrumbs sometimes show */
.article-header .breadcrumbs {
  display: none;
}

.co_content_container {
  padding-top: 0;
}

.g960.footer.g960.footer {
  display: none;
}

#BodyContainer {
  max-width: 100%;
  margin: auto;
  grid-column: full-width;
}

#co_content_container,
.cco_templateless_page {
  font-size: 17px;
  color: #60697b;
}

.fonts {
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
}

#BodyContainer#BodyContainer .no-hero-image #co_content_container #chabad_body_content .master-content-wrapper.master-content-wrapper,
.master-content-wrapper {
  background-color: #12b0d1 !important;
}

/* only apply this style when the template 5 template is being used */
html:has(link[href*=template5]) header.article-header.cf {
  border: 0;
}
html:has(link[href*=template5]) .article_index .row {
  display: flex;
  justify-content: center;
}

/* only use these styles for the index page when the template 5 and sites 6 templates aren't being used */
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index.clearfix:after {
  display: none;
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index .row {
  margin: 0;
  position: relative;
  width: 250px;
  height: 150px;
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index .item {
  background: none;
  padding: 0;
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index .title {
  padding: 0;
  text-align: center;
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index .title a {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: all 0.3s;
  font-size: 18px;
  transition: all 0.3s;
  background-color: rgba(120, 120, 120, 0.6);
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index .title a:hover {
  background: rgba(49, 124, 184, 0.6);
}
html:not(:has(link#k[href*=sites6], link#k[href*=template5])) .article_index img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

body.noselect * {
  box-sizing: border-box;
}
body.noselect:has(#chabad_body_page) h3 {
  padding: unset;
  margin: auto;
  line-height: normal;
}
body.noselect:has(#chabad_body_page) [name=co_template],
body.noselect:has(#chabad_body_page) [name=co_section],
body.noselect:has(#chabad_body_page) [name=co_editable] {
  display: contents !important;
}
body.noselect:has(#chabad_body_page) #chabad_head *,
body.noselect:has(#chabad_body_page) #PreschoolFooterNav * {
  color: white;
  background: unset;
}
body.noselect:has(#chabad_body_page) co\:item {
  grid-column: 1/-1;
}
body.noselect:has(#chabad_body_page) .sub_menu {
  width: -moz-min-content;
  width: min-content;
}
body.noselect:has(#chabad_body_page) .sub_menu ul {
  padding: 0;
}
body.noselect div.chabad_left_colum,
body.noselect div.chabad_left_column {
  width: 100%;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) h3 {
  line-height: normal;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) h3 div {
  line-height: normal;
  font-size: inherit;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) #PreschoolSection1 {
  display: grid;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) #PreschoolSection1 > * {
  grid-row: 1;
  grid-column: 1;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) #PreschoolSection2 {
  display: flex !important;
  flex-direction: column;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) #PreschoolSection2 * {
  align-self: center !important;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) #PreschoolSection3Cards > div,
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) #PreschoolSection4 > div,
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) #PreschoolSection7Cards > div {
  flex: 1 1 300px;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) #PreschoolSection4 > :first-child {
  min-width: 100%;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) #PreschoolSection4 .preschool-section-4-card {
  width: auto;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) .ContentItem[name=co_section],
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) .ContentItem[name=co_template] {
  flex: 1 1 500px;
  display: grid;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) .ContentItem[name=co_section] > *,
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) .ContentItem[name=co_template] > * {
  grid-column: 1 !important;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) .ContentItem[real_name=Header] {
  height: auto;
  background: unset;
  margin: auto;
}
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) .ContentItem[real_id=Image],
body.noselect:not(:has(#chabad_body_page)) :is(.chabad_left_colum, .chabad_left_column) #Co_ContentEditor_Container .co_photo_gallery_body {
  width: auto !important;
}
body.noselect #TestimonialSlides .card-body {
  padding: 0;
}
body.noselect #TestimonialSlides .slider-wrapper .card {
  padding: 10px;
  margin-inline: 10px;
  min-width: 300px;
}
body.noselect a:-webkit-any-link {
  text-decoration: none;
}

@supports (grid-template-rows: subgrid) {
  #chabad_main_content {
    --padding-inline: 16px;
    --content-max-width: 1320px;
    --breakout-max-width: 1360px;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
    display: grid;
    grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
  }
  #chabad_main_content * {
    /* Fixes a bug where the grid items would be too wide */
    min-width: 0;
    /* Help prevent overflow of long words/names/URLs */
    overflow-wrap: break-word;
    text-wrap: pretty;
  }
  :where(#chabad_main_content div:not([class], [id], [style])) {
    /* using :where() so this doesn't override anything else */
    grid-column: full-width;
    display: contents;
    /* 
    these styles are to workaround sitecontrol randomly adding divs
    the rules here are to make sure that the content still uses the available space, unless it has a set width or display property already, in which case that will take affect instead of these rules
    */
  }
  #chabad_body_content,
  #ContentArea,
  #content_page,
  .cco_templateless_page #co_content_container,
  #co_content_container > .clearfix,
  .co_body.body_wrapper,
  #co_body_container,
  #ContentBody,
  .content-area-parent,
  #content_page_full,
  #PreschoolSection1,
  .chabad_image_content,
  #content_banner.chabad_banner_content:first-child,
  .chabad_left_colum,
  #chabad_left_colum,
  #chabad_right_colum,
  .vertical_padding {
    display: contents !important;
  }
  .master-content-wrapper,
  footer {
    grid-column: full-width;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }
  .master-content-wrapper {
    grid-row: 1/3;
    z-index: 0;
  }
  footer > div {
    grid-column: content;
  }
}
.section_root #chabad_main_content:not(:has(#content_banner:first-child, #PreschoolSection1Image)) #chabad_head,
.section_branch:not(:has(.master-content-wrapper)) #chabad_head {
  background-color: #12b0d1;
  margin-bottom: 50px;
}

#chabad_head {
  /* Header should overlap the first row of content */
  z-index: 2;
  grid-row: 1;
}
@supports (grid-template-rows: subgrid) {
  #chabad_head {
    grid-column: content;
  }
}

header.article-header {
  grid-row: 2;
}
@supports (grid-template-rows: subgrid) {
  header.article-header {
    grid-column: content;
  }
}
.mobile header.article-header {
  margin-bottom: 0;
}

@supports (grid-template-rows: subgrid) {
  .blog.feed {
    grid-column: content;
  }
  body.form.section_branch #ContentBody:not(:has(form)) * {
    grid-column: content;
  }
}
/* Old minisites spell it chabad_left_colum instead of chabad_left_column */
#chabad_left_colum > #content_banner:first-child,
.chabad_image_banner,
#PreschoolSection1Image {
  grid-row: 1/4;
}
@supports (grid-template-rows: subgrid) {
  #chabad_left_colum > #content_banner:first-child,
  .chabad_image_banner,
  #PreschoolSection1Image {
    grid-column: full-width;
  }
}

#chabad_banner_text,
#PreschoolSection1Text {
  grid-row: 2;
}
@supports (grid-template-rows: subgrid) {
  #chabad_banner_text,
  #PreschoolSection1Text {
    grid-column: content;
  }
}

#PreschoolSection1Text {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  max-width: 800px;
  place-self: center;
  margin-block: 50px;
}

#content_banner:after,
img[src$="White-wavy-bottom-border.png"] {
  grid-row: 3;
  align-self: end;
  z-index: 0;
}
@supports (grid-template-rows: subgrid) {
  #content_banner:after,
  img[src$="White-wavy-bottom-border.png"] {
    grid-column: full-width;
  }
}

@supports (grid-template-rows: subgrid) {
  .mobile #chabad_head {
    grid-column: full-width;
  }
}

#chabad_head {
  align-items: center;
}

html:has(.chabad_left_column) #chabad_head {
  align-items: baseline;
}

@supports (grid-template-rows: subgrid) {
  :where(#chabad_left_colum > :nth-child(2), :is(#chabad_head, footer) > *) {
    grid-column: content;
  }
  #wavy-bottom-border {
    grid-column: full-width;
  }
}
:where(#PreschoolSection2, #PreschoolSection3, #PreschoolSection4, #PreschoolSection5, #PreschoolSection6, #PreschoolSection7, #Testimonials, #PreschoolLatestPhotos) {
  padding-block: 50px;
}
@supports (grid-template-rows: subgrid) {
  :where(#PreschoolSection2, #PreschoolSection3, #PreschoolSection4, #PreschoolSection5, #PreschoolSection6, #PreschoolSection7, #Testimonials, #PreschoolLatestPhotos) {
    grid-column: content;
  }
}

img {
  max-width: 100%;
  height: auto;
}

#chabad_body_page,
#Co_ContentEditor_Container {
  container-type: inline-size;
}
#chabad_body_page .preschool-blue-color,
#Co_ContentEditor_Container .preschool-blue-color {
  color: #393d72;
}
#chabad_body_page .btn,
#chabad_body_page .chabad_welcome,
#chabad_body_page .chabad_more_button,
#chabad_body_page .chabad_text_banner_description,
#Co_ContentEditor_Container .btn,
#Co_ContentEditor_Container .chabad_welcome,
#Co_ContentEditor_Container .chabad_more_button,
#Co_ContentEditor_Container .chabad_text_banner_description {
  animation-name: zoomIn;
  animation-duration: 700ms;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-fill-mode: both;
}
#chabad_body_page .btn,
#Co_ContentEditor_Container .btn {
  --btn-padding-x: 24px;
  --btn-padding-y: 10px;
  --btn-bg: transparent;
  --btn-border-color: transparent;
  --btn-hover-border-color: transparent;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;
  color: #60697b;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  border: 2px solid var(--btn-border-color);
  background-color: var(--btn-bg);
  box-shadow: unset;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  letter-spacing: -0.2px;
  position: relative;
  animation-delay: 1500ms;
  border-radius: 1000px !important;
}
#chabad_body_page .display-3,
#Co_ContentEditor_Container .display-3 {
  font-family: "Fredoka", Helvetica, Arial, "sans-serif";
  font-size: 50px;
  text-wrap: balance;
}
@supports ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) or (-webkit-backdrop-filter: blur(1px)) {
  #chabad_body_page .display-3,
  #Co_ContentEditor_Container .display-3 {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }
}
#chabad_body_page .btn-primaryx,
#chabad_body_page .btn-primaryx2,
#Co_ContentEditor_Container .btn-primaryx,
#Co_ContentEditor_Container .btn-primaryx2 {
  font-size: 20px;
  margin-top: -35px;
  --btn-padding-x: 28px !important;
  --btn-padding-y: 20px !important;
  --btn-bg: #fff;
  --btn-hover-bg: #fff;
  --btn-active-bg: #fff;
}
#chabad_body_page .btn-primaryx,
#Co_ContentEditor_Container .btn-primaryx {
  --btn-border-color: #fff;
  --btn-hover-border-color: #fff;
  --btn-active-border-color: #fff;
}
#chabad_body_page .btn-primaryx2,
#Co_ContentEditor_Container .btn-primaryx2 {
  --btn-border-color: #9a8fff;
  --btn-hover-border-color: #9a8fff;
  --btn-active-border-color: #9a8fff;
}
#chabad_body_page .swiper-slide,
#chabad_body_page .card,
#Co_ContentEditor_Container .swiper-slide,
#Co_ContentEditor_Container .card {
  position: relative;
}
#chabad_body_page .blockquote-details,
#Co_ContentEditor_Container .blockquote-details {
  margin-top: 20px;
}
#chabad_body_page .card-body,
#Co_ContentEditor_Container .card-body {
  flex: 1 1 auto;
  padding: var(--card-spacer-y) var(--card-spacer-x);
}
#chabad_body_page .card-bodyf:hover,
#Co_ContentEditor_Container .card-bodyf:hover {
  background: #ff4880;
}
#chabad_body_page .card-bodyf:hover,
#chabad_body_page .card-bodyf:hover h4,
#Co_ContentEditor_Container .card-bodyf:hover,
#Co_ContentEditor_Container .card-bodyf:hover h4 {
  color: #fff;
}
#chabad_body_page .card-bodyf,
#Co_ContentEditor_Container .card-bodyf {
  flex: 1 1 auto;
  padding: var(--card-spacer-y) var(--card-spacer-x);
  transition: all 0.3s;
}
#chabad_body_page .card-bodyf img,
#Co_ContentEditor_Container .card-bodyf img {
  height: 69px;
  aspect-ratio: 1;
  width: auto;
}
#chabad_body_page .iconsfoot,
#Co_ContentEditor_Container .iconsfoot {
  margin-right: 15px !important;
}
#chabad_body_page .iconsfoot i,
#Co_ContentEditor_Container .iconsfoot i {
  margin-right: 5px;
  color: #32afea;
}
#chabad_body_page .form-check-input,
#Co_ContentEditor_Container .form-check-input {
  flex-shrink: initial;
}
#chabad_body_page .co_photo_gallery,
#chabad_body_page .slider-wrapper,
#Co_ContentEditor_Container .co_photo_gallery,
#Co_ContentEditor_Container .slider-wrapper {
  padding: 20px 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#chabad_body_page .co_photo_gallery .slide,
#chabad_body_page .co_photo_gallery a,
#chabad_body_page .slider-wrapper .slide,
#chabad_body_page .slider-wrapper a,
#Co_ContentEditor_Container .co_photo_gallery .slide,
#Co_ContentEditor_Container .co_photo_gallery a,
#Co_ContentEditor_Container .slider-wrapper .slide,
#Co_ContentEditor_Container .slider-wrapper a {
  transition: all 0.3s;
}
#chabad_body_page .co_photo_gallery > .slide:hover,
#chabad_body_page .slider-wrapper > .slide:hover,
#Co_ContentEditor_Container .co_photo_gallery > .slide:hover,
#Co_ContentEditor_Container .slider-wrapper > .slide:hover {
  transform: scale(1.1);
  z-index: 1;
}
#chabad_body_page .co_photo_gallery > a:hover,
#chabad_body_page .slider-wrapper > a:hover,
#Co_ContentEditor_Container .co_photo_gallery > a:hover,
#Co_ContentEditor_Container .slider-wrapper > a:hover {
  transform: scale(1.2);
  z-index: 1;
}
#chabad_body_page .co_photo_gallery > :is(.slide, a):has(+ :is(.slide, a):hover),
#chabad_body_page .co_photo_gallery > :is(.slide, a):hover + :is(.slide, a),
#chabad_body_page .slider-wrapper > :is(.slide, a):has(+ :is(.slide, a):hover),
#chabad_body_page .slider-wrapper > :is(.slide, a):hover + :is(.slide, a),
#Co_ContentEditor_Container .co_photo_gallery > :is(.slide, a):has(+ :is(.slide, a):hover),
#Co_ContentEditor_Container .co_photo_gallery > :is(.slide, a):hover + :is(.slide, a),
#Co_ContentEditor_Container .slider-wrapper > :is(.slide, a):has(+ :is(.slide, a):hover),
#Co_ContentEditor_Container .slider-wrapper > :is(.slide, a):hover + :is(.slide, a) {
  opacity: 0.8;
}
#chabad_body_page .card-bodyf,
#chabad_body_page .preschool-section-4-card,
#Co_ContentEditor_Container .card-bodyf,
#Co_ContentEditor_Container .preschool-section-4-card {
  transition: all 0.3s;
}
#chabad_body_page .card-bodyf:hover,
#chabad_body_page .preschool-section-4-card:hover,
#Co_ContentEditor_Container .card-bodyf:hover,
#Co_ContentEditor_Container .preschool-section-4-card:hover {
  z-index: 1;
  transform: scale(1.1);
}
#chabad_body_page .coitem:hover + .coitem div,
#chabad_body_page .coitem:has(+ .coitem:hover) div,
#Co_ContentEditor_Container .coitem:hover + .coitem div,
#Co_ContentEditor_Container .coitem:has(+ .coitem:hover) div {
  opacity: 0.8;
}
#chabad_body_page #TestimonialSlides,
#Co_ContentEditor_Container #TestimonialSlides {
  position: relative;
}
#chabad_body_page .slider-wrapper,
#Co_ContentEditor_Container .slider-wrapper {
  gap: 20px;
}
#chabad_body_page .slider-wrapper .slide,
#Co_ContentEditor_Container .slider-wrapper .slide {
  border-radius: 5px;
  flex: 1 1 350px;
}
#chabad_body_page .slider-wrapper .blockquote-details img,
#Co_ContentEditor_Container .slider-wrapper .blockquote-details img {
  border-radius: 50%;
  width: 70px;
  margin-right: 15px;
}
#chabad_body_page .co_photo_gallery,
#Co_ContentEditor_Container .co_photo_gallery {
  gap: 10px;
}
#chabad_body_page .co_photo_gallery a,
#Co_ContentEditor_Container .co_photo_gallery a {
  flex: 1 1 230px;
  margin: 0;
  max-width: min(50% - 10px, 300px);
}
#chabad_body_page .co_photo_gallery img,
#Co_ContentEditor_Container .co_photo_gallery img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 5px;
  aspect-ratio: 16/10;
}
#chabad_body_page .co_photo_gallery_head div,
#Co_ContentEditor_Container .co_photo_gallery_head div {
  color: #393d72;
  font-size: 50px;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.25;
  padding-bottom: 20px;
}
#chabad_body_page .bh,
#Co_ContentEditor_Container .bh {
  position: absolute;
  top: 30px;
  right: 30px;
}
.mobile #chabad_body_page .master-content-wrapper,
.mobile #Co_ContentEditor_Container .master-content-wrapper {
  grid-row: 2;
  padding-block: 35px;
}
#chabad_body_page .master-content-wrapper .article-header__title,
#Co_ContentEditor_Container .master-content-wrapper .article-header__title {
  color: #343f52 !important;
  font-family: "Fredoka", Helvetica, Arial, "sans-serif";
  font-size: 70px;
}
@container (max-width: 700px) {
  #chabad_body_page .master-content-wrapper .article-header__title,
  #Co_ContentEditor_Container .master-content-wrapper .article-header__title {
    font-size: 40px;
  }
}
#chabad_body_page .card-border-bottom:after,
#Co_ContentEditor_Container .card-border-bottom:after {
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom-width: 4px;
  border-top-width: 4px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-bottom-color: inherit;
  border-top-color: transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  content: "";
  position: absolute;
}
#chabad_body_page a:hover,
#Co_ContentEditor_Container a:hover {
  text-decoration: none;
}

/* General Styling for the Navbar */
body:not(.mobile) #chabad_body_page .chabad_navigator_bar ul li {
  z-index: initial;
  border: 0;
}
body:not(.mobile) #chabad_body_page #chabad_head {
  padding: 20px;
  max-width: 100%;
  height: auto;
}
@supports ((height: -moz-fit-content) or (height: fit-content)) {
  body:not(.mobile) #chabad_body_page #chabad_head {
    height: -moz-fit-content;
    height: fit-content;
  }
}
body:not(.mobile) #chabad_body_page #chabad_head .navi {
  height: unset;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi a {
  font-family: "Open Sans", sans-serif;
  padding-inline: 10px;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi a.parent.arrow:after {
  content: "  \f107";
  font-family: "Font Awesome 5 Pro";
  white-space: pre;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi .sub_menu {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #393d72;
  top: auto;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi .item .item {
  padding: 0;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi .item .item a {
  padding: 6px 6px 6px 10px;
  font-size: 14px;
  font-weight: 300;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi .item .item :hover {
  font-weight: bold;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi .item .item:first-child a {
  padding-top: 9px;
}
body:not(.mobile) #chabad_body_page #chabad_head .navi .item .item:last-child a {
  padding-bottom: 9px;
}
body:not(.mobile) #chabad_body_page #navigation {
  width: initial;
  height: initial;
}
body:not(.mobile) #chabad_body_page #navigation .navi {
  display: flex;
  flex-wrap: wrap;
}
@container (min-width: 992px) {
  body:not(.mobile) #chabad_body_page #navigation .navi {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@container (max-width: 991px) {
  body:not(.mobile) #chabad_body_page #navigation .navi {
    row-gap: 10px;
  }
}
body:not(.mobile) #chabad_body_page #navigation .navi li,
body:not(.mobile) #chabad_body_page #navigation .navi a {
  float: none;
  line-height: normal;
}
body:not(.mobile) #chabad_body_page #navigation .navi a {
  font-size: 17px;
  color: white;
  background: unset;
}
body:not(.mobile) #chabad_body_page footer #menu {
  height: unset;
}
body:not(.mobile) #chabad_body_page footer #menu .sub_menu a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
body:not(.mobile) #chabad_body_page footer #menu ul {
  padding: 0;
}
body:not(.mobile) #chabad_body_page footer #menu .parent {
  font-family: "Fredoka", Helvetica, Arial, "sans-serif";
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 0.5px;
}
body:not(.mobile) #chabad_body_page footer #menu .parent .parent {
  padding-inline: 16px;
}

body.mobile div#co_photo_gallery .co_photo_gallery_body {
  padding: 0 !important;
}

#chabad_head .chabad_navigator_bar * {
  float: none !important;
}

div#chabad_main_content,
.cco_templatelates_content {
  margin: 0;
  width: 100%;
  float: none;
  text-align: start;
}

#header.on-scroll {
  position: absolute !important;
}

div#co_photo_gallery .co_photo_gallery_footer a {
  float: none;
  padding-top: 30px;
  background-color: #ffae00;
  border: solid 2px #ffae00;
  display: inline-block;
  color: #fff;
  border-radius: 1000px;
  font-size: 20px;
  padding: 8px 20px;
  font-family: "Open Sans", sans-serif;
}

body.mobile #chabad_body_page .display-1 {
  font-size: 40px !important;
  margin-top: 35px;
}
body.mobile #chabad_body_page h2 {
  letter-spacing: normal !important;
  line-height: normal;
  font-size: 20px;
}
body.mobile #chabad_body_page #chabad_head {
  justify-content: center;
  padding: 5px;
  height: auto;
}
@supports ((height: -moz-fit-content) or (height: fit-content)) {
  body.mobile #chabad_body_page #chabad_head {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@supports ((-webkit-backdrop-filter: contrast(0.5)) or (backdrop-filter: contrast(0.5))) {
  body.mobile #chabad_body_page #chabad_head {
    -webkit-backdrop-filter: contrast(0.5);
    backdrop-filter: contrast(0.5);
  }
}
body.mobile #chabad_body_page #chabad_head #menu {
  height: auto;
}
body.mobile #chabad_body_page #chabad_head .item.heading a {
  font-size: 0;
  background: none;
  padding: 0;
}
body.mobile #chabad_body_page #chabad_head .item.heading a:after {
  content: "☰";
  font-size: 30px;
  color: white;
  display: inline-block;
  margin-top: 8px;
}
body.mobile.cco_templateless_page #chabad_body_page .bh {
  top: -6px;
  right: 10px;
  z-index: 10;
  color: white;
}
body.mobile footer a {
  color: white;
}

.footer_hr {
  height: 1px;
}

body:not(.section_root) #chabad_head {
  z-index: 2;
}
body:not(.section_root) #cco_body {
  margin-top: 50px;
  min-height: 312px;
}
@supports (grid-template-rows: subgrid) {
  body:not(.section_root) #cco_body {
    grid-column: content;
  }
}
body:not(.section_root) #cco_body .co_body.article-body:has(*) {
  min-height: 50px;
}
body:not(.section_root) #chabad_right_colum {
  display: none !important;
}

.co_body .content p,
.co_body .content li,
.co_body .content .form-all li,
html body.cco_body p,
.form-all {
  color: #343333;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.form-line {
  border: 0;
}

.cco_templateless_template,
.cco_templateless_template a {
  background: #f9f9f9;
}

body,
.cco_templateless_template,
.cco_templateless_template a {
  color: black;
  font-family: "Open Sans", sans-serif;
}

#chabad_head {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  font-family: "Open Sans", sans-serif;
}
body:not(.mobile) #chabad_head {
  gap: 20px;
}
#chabad_head #PreschoolTitle {
  font-size: clamp(18px, 2vw, 37px);
  font-weight: bold;
  margin: 10px 30px;
}

#PreschoolSection1 #PreschoolSection1Image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
  max-height: max(90vh, 800px);
}
#PreschoolSection1 #PreschoolSection1Title,
#PreschoolSection1 #PreschoolSection1Description,
#PreschoolSection1 #PreschoolSection1Button {
  animation-name: zoomIn;
  animation-duration: 700ms;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-fill-mode: both;
}
#PreschoolSection1 #PreschoolSection1Title {
  color: white;
  font-size: 70px;
  font-weight: 600;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  animation-delay: 500ms;
  text-wrap: balance;
}
@container (max-width: 600px) {
  #PreschoolSection1 #PreschoolSection1Title {
    font-size: 50px;
  }
}
#PreschoolSection1 #PreschoolSection1Description {
  animation-delay: 1000ms;
  letter-spacing: 1px;
  font-size: 23px;
  color: white;
  text-transform: uppercase;
}
#PreschoolSection1 #PreschoolSection1Button {
  animation-delay: 1500ms;
  background-color: #ff4880;
  color: white;
  border-radius: 1000px;
  font-size: 20px;
  padding: 15px 20px;
  font-weight: 700;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
}
#PreschoolSection1 .fonts {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
#PreschoolSection1 img[src$="White-wavy-bottom-border.png"] {
  margin-bottom: -1px;
  background-repeat: no-repeat;
  padding-top: 20px;
  width: 100%;
}

#PreschoolSection2 {
  container-type: inline-size;
  display: grid;
  place-items: center;
}
@supports (grid-template-rows: subgrid) {
  #PreschoolSection2 {
    grid-column: content;
  }
}
@container (min-width: 850px) {
  #PreschoolSection2 img {
    grid-area: 1/1/3/2;
  }
  #PreschoolSection2 h3 {
    grid-area: 1/2/2/3;
    align-self: end;
    justify-self: start;
  }
  #PreschoolSection2 .fonts {
    grid-area: 2/2/3/3;
    text-align: start;
    align-self: start;
  }
}
#PreschoolSection2 img {
  aspect-ratio: 1;
  width: auto;
  height: 100%;
  max-height: 518px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url(/images/Shluchim/minisites/themes/preschool2/photos/Section2ImageMask.png);
  mask-image: url(/images/Shluchim/minisites/themes/preschool2/photos/Section2ImageMask.png);
  margin: 25px;
}
#PreschoolSection2 h3 {
  color: #28a73c;
  margin: 25px;
}
#PreschoolSection2 .fonts {
  margin: 25px;
}

.preschool-shape-1 {
  bottom: -10px;
  right: -44px;
  z-index: 0;
  position: absolute;
  background-color: rgb(237, 242, 252);
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
:has(> .preschool-shape-1) {
  position: relative;
}

.preschool-shape-2 {
  top: -10px;
  left: -50px;
  z-index: 0;
  position: absolute;
  background-image: radial-gradient(#fab758 2px, transparent 2.5px);
  background-size: 15px 15px;
  opacity: 0.5;
  height: 140px;
  width: 120px;
}
:has(> .preschool-shape-2) {
  position: relative;
}

#PreschoolSection3 {
  background-image: url(/images/Shluchim/minisites/themes/preschool2/photos/bg126.jpg);
  display: grid;
}
@supports (grid-template-rows: subgrid) {
  #PreschoolSection3 {
    grid-template-columns: subgrid;
    grid-column: full-width;
  }
  #PreschoolSection3 > :first-child {
    grid-column: content;
  }
}
#PreschoolSection3 #PreschoolSection3Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
@supports (grid-template-rows: subgrid) {
  #PreschoolSection3 #PreschoolSection3Cards {
    grid-column: content;
  }
}
#PreschoolSection3 .card,
#PreschoolSection3 .coitem {
  display: contents;
}
#PreschoolSection3 img {
  filter: brightness(0) saturate(100%) invert(41%) sepia(49%) saturate(2658%) hue-rotate(316deg) brightness(103%) contrast(102%);
}
#PreschoolSection3 h3 {
  margin-inline: auto;
}
@container (min-width: 768px) {
  #PreschoolSection3 h3 {
    width: 83%;
  }
}
@container (min-width: 992px) {
  #PreschoolSection3 h3 {
    width: 66%;
  }
}
#PreschoolSection3 .card-bodyf {
  flex: 1 1 300px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 6px solid #ff4880;
  color: inherit;
  box-shadow: 0 5px 35px rgba(30, 34, 40, 0.07);
  background-color: #fff;
  background-clip: border-box;
  border-radius: 8px;
  --card-spacer-y: 40px;
  --card-spacer-x: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
#PreschoolSection3 .card-bodyf:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(271deg) brightness(108%) contrast(102%);
}
#PreschoolSection3 .card-bodyf h4 {
  font-weight: 600;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  line-height: 1.45;
  margin-top: 0;
  color: #343f52;
  letter-spacing: -0.2px;
  font-size: 19px;
}
#PreschoolSection3 .card-bodyf .fonts {
  margin-bottom: 10px;
}

#PreschoolSection4 {
  display: flex;
  flex-wrap: wrap;
}
@supports (grid-template-rows: subgrid) {
  #PreschoolSection4 {
    grid-column: breakout;
  }
}
#PreschoolSection4 > :first-child {
  width: 100%;
}
#PreschoolSection4 h3 {
  color: #7e0f7c;
}
#PreschoolSection4 #PreschoolSection4Description {
  line-height: 1.4;
  padding-bottom: 40px;
  margin-inline: auto;
}
@container (min-width: 768px) {
  #PreschoolSection4 #PreschoolSection4Description {
    width: 83%;
  }
}
@container (min-width: 992px) {
  #PreschoolSection4 #PreschoolSection4Description {
    width: 66%;
  }
}
#PreschoolSection4 .preschool-section-4-card {
  background: var(--color);
  color: #fff;
  transition: all 0.3s;
  padding: 3%;
  width: 100%;
}
@container (min-width: 768px) {
  #PreschoolSection4 .preschool-section-4-card {
    width: 50%;
  }
}
@container (min-width: 992px) {
  #PreschoolSection4 .preschool-section-4-card {
    width: 33.3333333333%;
  }
}
#PreschoolSection4 .preschool-section-4-card:hover {
  background: var(--color-hover);
  color: #fff;
}
#PreschoolSection4 .preschool-section-4-card h4 {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  line-height: 1.45;
  margin-top: 0;
  letter-spacing: -0.2px;
}
#PreschoolSection4 .preschool-section-4-card .fonts {
  margin-bottom: 0;
}
#PreschoolSection4 .preschool-section-4-card:nth-of-type(6n + 1),
#PreschoolSection4 div[real_id=Card]:nth-of-type(6n + 1) .preschool-section-4-card {
  --color: #3ab764;
  --color-hover: #1d6e39;
}
#PreschoolSection4 .preschool-section-4-card:nth-of-type(6n + 2),
#PreschoolSection4 div[real_id=Card]:nth-of-type(6n + 2) .preschool-section-4-card {
  --color: #fc5172;
  --color-hover: #832739;
}
#PreschoolSection4 .preschool-section-4-card:nth-of-type(6n + 3),
#PreschoolSection4 div[real_id=Card]:nth-of-type(6n + 3) .preschool-section-4-card {
  --color: #e7b338;
  --color-hover: #a0740c;
}
#PreschoolSection4 .preschool-section-4-card:nth-of-type(6n + 4),
#PreschoolSection4 div[real_id=Card]:nth-of-type(6n + 4) .preschool-section-4-card {
  --color: #e668b3;
  --color-hover: #873164;
}
#PreschoolSection4 .preschool-section-4-card:nth-of-type(6n + 5),
#PreschoolSection4 div[real_id=Card]:nth-of-type(6n + 5) .preschool-section-4-card {
  --color: #45a2bc;
  --color-hover: #1a5b6d;
}
#PreschoolSection4 .preschool-section-4-card:nth-of-type(6n + 6),
#PreschoolSection4 div[real_id=Card]:nth-of-type(6n + 6) .preschool-section-4-card {
  --color: #e4613c;
  --color-hover: #b13816;
}

.preschool-custom-section {
  min-height: 350px;
  display: grid;
  align-content: center;
}
@supports (grid-template-rows: subgrid) {
  .preschool-custom-section {
    grid-template-columns: subgrid;
    grid-column: content;
  }
}
.preschool-custom-section > * {
  margin-inline: auto;
}
@supports (grid-template-rows: subgrid) {
  .preschool-custom-section > * {
    grid-column: content;
  }
}
@container (min-width: 1200px) {
  .preschool-custom-section > * {
    width: 91%;
  }
}
@container (min-width: 1400px) {
  .preschool-custom-section > * {
    width: 83%;
  }
}

.preschool-title-spacing {
  margin-bottom: 40px;
}
@container (min-width: 1200px) {
  .preschool-title-spacing {
    padding-inline: 50px;
  }
}

#PreschoolSection5 {
  background-image: url(/images/Shluchim/minisites/themes/preschool2/photos/bg125.jpg);
}
@supports (grid-template-rows: subgrid) {
  #PreschoolSection5 {
    grid-column: full-width;
  }
}

#PreschoolSection7 {
  background-image: url(/images/Shluchim/minisites/themes/preschool2/photos/bg126.jpg);
  display: grid;
}
@supports (grid-template-rows: subgrid) {
  #PreschoolSection7 {
    grid-column: full-width;
    grid-template-columns: subgrid;
  }
  #PreschoolSection7 > :first-child {
    grid-column: content;
  }
}
#PreschoolSection7 h3 {
  margin-inline: auto;
}
@container (min-width: 768px) {
  #PreschoolSection7 h3 {
    width: 83%;
  }
}
@container (min-width: 992px) {
  #PreschoolSection7 h3 {
    width: 66%;
  }
}
#PreschoolSection7 #PreschoolSection7Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
@supports (grid-template-rows: subgrid) {
  #PreschoolSection7 #PreschoolSection7Cards {
    grid-column: content;
  }
}
#PreschoolSection7 img[src$=".svg"] {
  filter: brightness(0) saturate(100%) invert(76%) sepia(50%) saturate(6269%) hue-rotate(213deg) brightness(102%) contrast(101%);
}
#PreschoolSection7 .card {
  display: contents;
}
#PreschoolSection7 .coitem {
  flex: 1 1 350px;
  z-index: 1;
}
#PreschoolSection7 .card-bodyf {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 6px solid #ff4880;
  color: inherit;
  box-shadow: 0 5px 35px rgba(30, 34, 40, 0.07);
  background-color: #fff;
  background-clip: border-box;
  border-radius: 8px;
  --card-spacer-y: 40px;
  --card-spacer-x: 40px;
  height: calc(100% - 40px);
}
#PreschoolSection7 .card-bodyf h4 {
  font-weight: 600;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  line-height: 1.45;
  margin-top: 0;
  color: #343f52;
  letter-spacing: -0.2px;
  font-size: 19px;
}
#PreschoolSection7 .card-bodyf .fonts {
  margin-bottom: 10px;
}

#Testimonials {
  display: grid;
  background-color: #eff6fe !important;
}
@supports (grid-template-rows: subgrid) {
  #Testimonials {
    grid-column: full-width;
    grid-template-columns: subgrid;
  }
  #Testimonials > * {
    grid-column: content;
  }
}
#Testimonials #TestimonialsTitle {
  color: #92278f;
}
#Testimonials #TestimonialsShape1 {
  bottom: -10px;
  right: -34px;
  position: absolute;
  background-color: #fff8ee;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
#Testimonials #TestimonialsShape2 {
  top: -20px;
  left: -34px;
  position: absolute;
  background-image: radial-gradient(#3f78e0 2px, transparent 2.5px);
  background-size: 15px 15px;
  opacity: 0.5;
  height: 120px;
  width: 120px;
}
#Testimonials .card {
  display: contents;
}
#Testimonials .card-body:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid red;
  margin: 10px;
  content: "";
}
#Testimonials .card-body {
  border: 0;
  color: inherit;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 8px;
  --card-spacer-y: 40px;
  --card-spacer-x: 40px;
  height: calc(100% - 85px);
}
#Testimonials blockquote.icon {
  position: relative;
  border: 0;
  padding: 0;
  font-size: 17px;
  line-height: 1.7;
  font-weight: 500;
  margin: 0;
}
#Testimonials blockquote.icon:before {
  content: "”";
  position: absolute;
  top: -30px;
  left: -18px;
  color: rgba(52, 63, 82, 0.05);
  font-size: 200px;
  line-height: 1;
  z-index: 1;
  overflow: hidden;
}
@supports (overflow: clip) {
  #Testimonials blockquote.icon:before {
    overflow: clip;
  }
}
#Testimonials .blockquote-details {
  display: flex;
  align-items: center;
  text-align: start;
}
#Testimonials .blockquote-details .info {
  padding-inline: 20px;
}
#Testimonials .blockquote-details .info h5 {
  line-height: 1.5;
  margin-bottom: 5px;
  font-weight: 600;
  color: #343f52;
  font-size: 19px;
  letter-spacing: 0.3px;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
}
#Testimonials .blockquote-details .info .fonts {
  margin-bottom: 0;
}
@container (max-width: 767px) {
  #Testimonials .card-body {
    padding: 20px;
  }
}

#PreschoolLatestPhotos:not(:has(.co_photo_gallery)) {
  padding: 0 !important;
}

/* hide the wavy bottom border if there are no photos, so that it doesn't show up with a white background right after the other color */
#wavy-bottom-border {
  display: none;
}

/* if there are photos, show it with display block so it doesn't have a white space under it */
#chabad_main_content:has(#PreschoolLatestPhotos .co_photo_gallery) #wavy-bottom-border,
body:not(.section_root) #wavy-bottom-border {
  display: block;
  padding-top: 50px;
}

#PreschoolFooterNav {
  padding-top: 25px;
  padding-bottom: 35px;
  background: #5674a1;
  color: white;
}
#PreschoolFooterNav > div:first-child {
  display: grid;
  align-items: center;
  gap: 25px;
}
@container (min-width: 768px) {
  #PreschoolFooterNav > div:first-child {
    grid-template-columns: [about-start] 1fr [about-end nav-start] 2fr [nav-end];
  }
  #PreschoolFooterNav > div:first-child #navigation {
    grid-column: nav;
    justify-self: end;
    grid-row: 1/3;
  }
}
#PreschoolFooterNav > div:first-child h3 {
  font-size: 23px;
  font-weight: 600;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  line-height: 1.35;
  color: white;
  letter-spacing: 1px;
  grid-column: 1;
}
#PreschoolFooterNav > div:first-child .fonts {
  font-size: 18px;
  font-weight: 500;
  grid-column: 1;
}

#PreschoolFooter {
  padding-block: 25px;
  background: #061737;
  color: #fff;
}
#PreschoolFooter > div:first-child {
  display: block;
}
@container (min-width: 768px) {
  #PreschoolFooter > div:first-child {
    display: grid;
    grid-template-columns: [about-start] 2fr [about-end nav-start] 1fr [nav-end];
    justify-content: space-between;
    align-items: center;
  }
  #PreschoolFooter > div:first-child .fonts {
    grid-column: about;
  }
}
#PreschoolFooter #PreschoolFooterButton {
  display: block;
  grid-column: nav;
  background-color: #32afea;
  color: white;
  border-radius: 1000px;
  font-size: 20px;
  line-height: 34px;
  padding: 10px 20px;
  font-weight: 700;
  max-width: -moz-fit-content;
  max-width: fit-content;
  justify-self: end;
}
@container (max-width: 768px) {
  #PreschoolFooter #PreschoolFooterButton {
    margin-top: 25px;
    margin-inline: auto;
  }
}

#PreschoolFooterButton,
.chabad_more_button,
#chabad_body_page .btn,
.co_photo_gallery_footer a,
#PreschoolSection1Button {
  transition: all 0.3s;
}
#PreschoolFooterButton:hover,
.chabad_more_button:hover,
#chabad_body_page .btn:hover,
.co_photo_gallery_footer a:hover,
#PreschoolSection1Button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(30, 34, 40, 0.15);
}

div[name=co_section][real_id^=column_promo] {
  display: flex;
  width: 100%;
  height: auto;
}
@supports ((height: -moz-fit-content) or (height: fit-content)) {
  div[name=co_section][real_id^=column_promo] {
    height: -moz-fit-content;
    height: fit-content;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/* styles for backwards compatibility */
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_head .chabad_logo {
  color: white;
}

.chabad_image_banner {
  min-height: 500px;
  max-height: max(30vmax, 800px) !important;
}

#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) td.chabad_logo > :first-child {
  margin: 10px 30px;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) td.chabad_logo div,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) td.chabad_logo a,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) td.chabad_logo a div,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) td.chabad_logo h1,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) td.chabad_logo span,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) td.chabad_logo strong {
  font-size: clamp(20px, 2vw, 37px) !important;
  font-weight: bold;
  color: white;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_text_head {
  display: none;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .content_page_full {
  float: none;
  margin: 0;
  width: 100%;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) div#chabad_main_content,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) div#chabad_body_content {
  width: 100%;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_image_banner img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.5);
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #content_banner {
  min-height: 500px;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #content_banner:not(:first-child) {
  grid-column: content;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  margin-block: 20px;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #content_banner:not(:first-child) div {
  grid-column: 1/-1 !important;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #content_banner:has(~ div):first-child:after {
  background-image: url(/images/Shluchim/minisites/themes/preschool2/illustrations/White-wavy-bottom-border.png);
  background-repeat: round no-repeat;
  background-size: contain;
  width: 100%;
  aspect-ratio: 3199/122;
  margin-bottom: -1px;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #content_banner:first-child .chabad_text_banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  z-index: 1;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_welcome {
  color: white;
  font-size: 70px;
  font-weight: 600;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  letter-spacing: -0.2px;
  margin-bottom: 35px;
  animation-delay: 500ms;
  text-transform: capitalize;
}
@container (max-width: 600px) {
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_welcome {
    font-size: 50px;
  }
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_text_banner_description {
  animation-delay: 1000ms;
  letter-spacing: 1px;
  font-size: 23px;
  line-height: 1.55;
  color: white;
  text-transform: uppercase;
  margin-bottom: 25px;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_text_banner_description p {
  color: inherit;
  font-size: inherit;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_more_button {
  animation-delay: 1500ms;
  background-color: #ff4880;
  border: 2px solid #ff4880;
  color: white;
  border-radius: 1000px;
  font-size: 20px;
  line-height: 34px;
  padding: 8px 20px;
  font-weight: 700;
  display: inline-flex;
  z-index: 1;
  float: none;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) img[src*="preschool_banner_image.jpg"],
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_image_banner:not(:has(img)) {
  content: url(/images/Shluchim/minisites/themes/preschool2/photos/banner.jfif);
  -o-object-fit: cover;
     object-fit: cover;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_image_banner:not(:has(img)) {
  height: 100%;
  width: 100%;
  filter: brightness(0.5);
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_image_banner {
  background-color: #12b0d1;
  display: grid;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) :is(.chabad_box_content_body, .content_box_custom, #chabad_right_colum > :is(#chabad_updates, #co_photo_gallery, #co_calendar, #co_section, #chabad_box_text):not(:empty)) {
  padding: 40px 15px;
  align-content: center;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) div#chabad_right_colum > div {
  margin-block: 0;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .big_title,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .medium_title,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_updates_head div,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_box_text_head,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_section_head,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_calendar_head {
  max-width: 800px;
  margin-inline: auto;
  font-size: 50px;
  font-weight: 700;
  font-family: Fredoka, Helvetica, Arial, sans-serif;
  color: #393d72;
  text-align: center;
  margin-bottom: 40px;
}
@container (max-width: 600px) {
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .big_title,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .medium_title,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_updates_head div,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_box_text_head,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_section_head,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_calendar_head {
    font-size: 35px;
  }
}
@supports ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) or (-webkit-backdrop-filter: blur(1px)) {
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .big_title,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .medium_title,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_updates_head div,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_box_text_head,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_section_head,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_calendar_head {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }
}
@container (min-width: 1200px) {
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .big_title,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .medium_title,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_updates_head div,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_box_text_head,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_section_head,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_calendar_head {
    padding-inline: 50px;
  }
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .big_title:empty,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .medium_title:empty,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_updates_head div:empty,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_box_text_head:empty,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_section_head:empty,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_calendar_head:empty {
  display: none;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_updates_head div {
  padding-inline: 10px;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_updates_head,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_calendar_head,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_photo_gallery_head,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_section_head {
  padding: 0 !important;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_calendar_text {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_calendar_text .co_date {
  font-weight: bold;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_calendar_text .item {
  flex: 1 1 300px;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_calendar_text .co_text_calendar {
  font-size: 0.9em;
  padding-top: 3px;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_text_box div,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_updates_text div,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .chabad_box_text_comment div {
  line-height: 1.6;
  font-size: 17px;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) .co_photo_gallery_footer a {
  float: none !important;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_left_colum,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_right_colum {
  text-align: center;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_left_colum > *:not(#content_banner),
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_right_colum > *:not(#content_banner) {
  grid-column: content;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_left_colum > *:has(*):not(#content_banner),
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_right_colum > *:has(*):not(#content_banner) {
  grid-column: full-width;
  display: grid;
  grid-template-rows: auto;
}
@supports (grid-template-rows: subgrid) {
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_left_colum > *:has(*):not(#content_banner),
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_right_colum > *:has(*):not(#content_banner) {
    grid-template-columns: subgrid;
  }
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_left_colum > *:has(*):not(#content_banner) > *,
  #chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_right_colum > *:has(*):not(#content_banner) > * {
    grid-column: content;
  }
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_left_colum > :nth-child(4n+3):has(*),
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_right_colum > :nth-child(4n+1):has(*) {
  background-image: url(/images/Shluchim/minisites/themes/preschool2/photos/bg126.jpg);
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_left_colum > :nth-child(4n+5):has(*),
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_right_colum > :nth-child(4n+3):has(*) {
  background-image: url(/images/Shluchim/minisites/themes/preschool2/photos/bg125.jpg);
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_left_colum > :nth-child(4n+4),
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_right_colum > :nth-child(4n+2) {
  position: relative;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_left_colum > :nth-child(4n+4):before,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_right_colum > :nth-child(4n+2):before {
  content: "";
  bottom: 50px;
  right: 15%;
  z-index: -1;
  position: absolute;
  background-color: rgb(237, 242, 252);
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_left_colum > :nth-child(4n+4):after,
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_right_colum > :nth-child(4n+2):after {
  content: "";
  top: 50px;
  left: 15%;
  z-index: -1;
  position: absolute;
  background-image: radial-gradient(#fab758 2px, transparent 2.5px);
  background-size: 15px 15px;
  opacity: 0.5;
  height: 140px;
  width: 120px;
}
#chabad_body_page:has(#chabad_left_colum, .chabad_left_colum) #chabad_right_colum [class$=body] {
  font-size: inherit;
}

body:has(#cco_body > #photos > .photo[data-img="0"]) #cco_body > #photos {
  min-height: 150px;
}

:where(.set-direction-to-content, .co_photo_gallery, .co_photo_gallery_head div, div#co_photo_gallery .co_photo_gallery_footer, div#co_photo_gallery .co_photo_gallery_footer a, .chabad_text_banner, #PreschoolSection7, .preschool-section-4-card h4, #PreschoolSection4, #PreschoolSection3, #PreschoolSection2, #PreschoolSection1, body.mobile #chabad_head a, .article-header__title, .card-bodyf, .display-3, .btn),
div#chabad_head .chabad_logo :is(a, div, a div) {
  text-align: center;
}

img[src$="/bh.gif"],
.content3:has(script) {
  display: none;
}

.chabad_announce {
  overflow: visible;
}

div,
a {
  font-family: inherit;
}

body.sites-article #header {
  border-bottom: none;
}

/* styles are hosted at https://preschool-template-6.netlify.app/style.css */
/* scss is hosted at https://preschool-template-6.netlify.app/style.scss */